<div class="container">
    <div class="row">

        <div *ngFor="let notification of notifications">
            <div class="col-md-2">
                {{notification.id}}
            </div>
            <div class="col-md-8">
                {{notification.data.message}}
            </div>
            <div class="col-md-2">
                <a>Mark As Read</a>
            </div>
        </div>
    </div>
</div>
