<app-header2></app-header2>
<div class="content-wrapper" id="mainContent2">
    <section class="content">
      <div class="row" >
        <div class="col-md-12" id="programForm">
          <div  >
            <div class="box-header ">
              <h3 style="text-align: center;" class="mt-5"><b>Edit  Program </b></h3>
            </div>
            <hr/>
            <div class="alert alert-success alert-dismissible" [hidden]="!message">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <h4><i class="icon fa fa-check"></i> {{ message }}</h4>
              
            </div>
            <div class="alert alert-error alert-dismissible" [hidden]="!error">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <h4><i class="icon fa fa-check"></i> {{ error }}</h4>
              
            </div>
            <!-- (submit)="add({code: code.value,title: title.value,lectureHours: lectureHours.value,ECTS: ects.value,laboratoryHours: laboratoryHours.value,creditHours: creditHours.value,requisite:requisite.value,module: module.value })" -->
            <form class="form-horizontal" (submit)="onSubmit()"   >
              <div class="row"  >
                <div class="col-md-6" >
                  <div class="box ">
                    <div class="box-body">
                      <div class="form-group row">
                        <label for="programTitle" class="col-sm-4 control-label">Program Title</label>
  
                        <div class="col-sm-7">
                          <input type="text" class="form-control" id="programTitle" name="programTitle" [(ngModel)]="form.programTitle"  placeholder="Program Title">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="programDuration" class="col-sm-4 control-label">Program Duration</label>
  
                        <div class="col-sm-7">
                          <input type="number" class="form-control" id="programDuration" name="programDuration" [(ngModel)]="form.programDuration"   placeholder="Program Durattion">
                        </div>
                      </div>
                      <div class="form-group row">
                          <label for="studyLanguage" class="col-sm-4 control-label">Study Language</label>
  
                          <div class="col-sm-7">
                              <input type="text" class="form-control" id="studyLanguage"  name="studyLanguage" [(ngModel)]="form.studyLanguage"  placeholder="studyLanguage">
                          </div>
                      </div>
                      <div class="form-group row">
                        <label for="min_overall_credit" class="col-sm-4 control-label">Minimum over credit</label>
  
                        <div class="col-sm-7">
                          <input type="number" class="form-control" id="min_overall_credit"  name="min_overall_credit" [(ngModel)]="form.min_overall_credit"  placeholder="Minimum over credit">
                        </div>
                      </div>
                      
                      
                      
                    
                   
                  </div>
              </div>
          </div>
    <!-- second div -->
  
                <div class="col-md-6" >
                  <div class="box">
                    <div class="box-body">
                      <div class="form-group row">
                          <label for="max_overall_credit" class="col-sm-4 control-label">Maximum overall credit</label>
    
                          <div class="col-sm-7">
                            <input type="number" class="form-control" id="max_overall_credit"  name="max_overall_credit" [(ngModel)]="form.max_overall_credit"  placeholder="Maximum overall credit">
                           </div>
                      </div>
                     
                      <div class="form-group row">
                          <label for="minimum_CGPA" class="col-sm-4 control-label">minimum_CGPA</label>
          
                          <div class="col-sm-7">
                            <input type="number" class="form-control" id="minimum_CGPA"  name="minimum_CGPA" [(ngModel)]="form.minimum_CGPA"  placeholder="minimum CGPA">
                          </div>
                        </div>
                      <div class="form-group row">
                        <label for="ects" class="col-sm-4 control-label">ECTS</label>
  
                        <div class="col-sm-7">
                          <input type="number" class="form-control" id="ects"  name="ects" [(ngModel)]="form.ects"  placeholder="ects">
                        </div>
                      </div>
                      <div class="form-group row">
                          <label for="credit" class="col-sm-4 control-label">Credit</label>
    
                          <div class="col-sm-7">
                            <input type="number" class="form-control" id="credit"  name="credit" [(ngModel)]="form.credit"  placeholder="ects">
                          </div>
                      </div>
                    
  
                    
                  </div> 
                  </div>
                </div>
              </div>
              <hr>
              <div class="box-footer">
                <!-- <button type="submit" class="btn btn-default pull-right">Cancel</button> -->
                <button type="submit" class="btn btn-primary pull-right">Update</button>
              </div>
            </form>
          </div>
       
        </div>
  
      </div>
    </section>
      
  </div>