<app-header2></app-header2>
<div class="tl_page_wrap">

    <div class="container clearfix tl_page_container ">
        <div class="tl_page">
            <div id="dev_page_content_wrap" class=" dev_faq_page">
                <div class="dev_page_bread_crumbs"></div>
                <h1 id="dev_page_title" dir="auto">Addis Ababa university Advising  FAQ</h1>

                <div id="dev_page_content" dir="auto">
                    <blockquote>
                    <p>This FAQ provides answers to basic questions about Advising process in Addis Ababa University.<br>Check out our expert system for more student specfic  information.</p>
                    </blockquote>
                    <p></p>
                    <div class="dev_page_nav_wrap">
                        <p></p>
                        <p><a href="#general-questions"><strong>General</strong></a></p>
                        <ul>
                        <li><a href="faq/#q-What_are_the_academic_rules_and_regulations_of_Addis_Ababa_University">What are the academic rules and regulations of Addis Ababa University?</a></li>
                        <li><a href="faq/#q-what_are_the_requirements_to_withdraw_or_dropout">What are the requirements to withdraw or dropout?</a></li>
                        <li><a href="faq/#q-what_are_the_grading_modes_in_AAU">What are the grading modes in AAU?</a></li>
                        <li><a href="faq/#q-What_are_the_requirements_to_ask_for_re-grading_or_to_take_remarking_exams">What are the requirements to ask for re-grading or to take remarking exams?</a></li>
                        <li><a href="faq/#q-What_are_Honor_programs">What are Honor programs?</a></li>
                        <li><a href="faq/#q-How_is_internship_graded_in_‘X’_field_of_study">How is internship graded in ‘X’ field of study?</a></li>
                        <!-- <li><a href="#q-where-is-telegram-based">Where is Telegram based?</a></li>
                        <li><a href="#q-how-are-you-going-to-make-money-out-of-this">How do you make money?</a></li>
                        <li><a href="#q-what-are-your-thoughts-on-internet-privacy">What are your thoughts on internet privacy?</a></li>
                        <li><a href="#q-what-about-gdpr">What about GDPR?</a></li>
                        <li><a href="#q-there-39s-illegal-content-on-telegram-how-do-i-take-it-down">Do you process takedown requests?</a></li>
                        <li><a href="#q-do-you-process-data-requests">Do you process data requests?</a></li> -->
                        </ul>



                        <!-- <p><a href="#telegram-support"><strong>Contact Telegram Support</strong></a><br><a href="#twitter"><strong>Follow Us on Twitter</strong></a><br><a href="#facebook"><strong>Facebook</strong></a><br><a href="https://core.telegram.org/techfaq"><strong>Advanced FAQ</strong></a></p>
                        <p></p> -->
                    </div>
                    <p></p>
                    <hr>
                    <h3><a class="anchor" name="general-questions" href="#general-questions"><i class="anchor-icon"></i></a>General Questions</h3>
                    <h4><a class="anchor" id="q-what_are_the_requirements_to_withdraw_or_dropout" href=""><i class="anchor-icon"></i></a>Q: What are the academic rules and regulations of Addis Ababa University?</h4>
                    <p>
                        Since the acadamic rules and regulations of addis ababa university covers a lot of points which can not be covered by this faq you can doenload the software copy of the book over here. 
                    </p>
                    <h4><a class="anchor" id="q-what_are_the_requirements_to_withdraw_or_dropout" href=""><i class="anchor-icon"></i></a>Q: What are the requirements to withdraw or dropout?</h4>
                    <p>Students may withdraw from the university due to either academic or non-academic reasons. Academic reason includes dismiss but allowed to repeat, or unavailability of course/module due to reasons emanating from the university. Non-academic reasons include health, disciplinary measures imposed on the student, or any other personal issues.
                        A student who wishes to withdraw should first contact his/her adviser and discuss the reason for withdrawal. He/she is then expected to formally withdraw and complete the withdrawal from within one month from the date of class discontinuation. Dropouts are solely non-academic and do not preview completion of withdrawal forms.
                    </p>

                    <!-- Question 2 -->
                    <h4><a class="anchor" id="q-what_are_the_grading_modes_in_AAU" href=""><i class="anchor-icon"></i></a>Q: What are the grading modes in AAU?</h4>
                    <p>
                        Learning achievements of a course is evaluated in terms of letter grades which include A+, A, A-, B+, B, B-, C+, C, C-, D and F. 
                        The university uses criteria refenced grading (fixed grading scale) as indicated in the senet of legislation. All assessment works (both continuous assessment and final exam) should be marked out of hundred based on which the letter grade is assigned. Continuous assessment accounts from 50-60% and final exam 40-50%. Course instructors are expected to be changes into either of the above grades in short time. These “transitory grades” include Fx, NG, I and IA. 
                        These grades are not considered in calculating the semester grade point average of Student.
                    </p>
                    <p>
                        “Fx” grades are given to a student who scores between 30 and 40% in whole assessment marks. These grades entitle the student to sit for re-exam. 
                        The management of Fx grades has its own guideline.
                    </p>
                    <p>
                        “NG” grade is given to students when there are incomplete exam records or missed examinations, assignments etc. 
                        Students in such status should immediately contact the course instructor, the department chair and settle the issue.
                    </p>
                    <p>
                        “I” grades imply that the student is entitled to a make-up exam which should be administered within a year. Make-up examinations are given with next batches of students. Make-up students are not expected to attend classes and pass through continuous assessment. 
                        The final examination they take will be marked out of 100% and grades are given based on results.
                    </p>
                    <p>
                        “IA”- A student who has missed more than 15% attendance shall be given a grade of incomplete attendance and be required to provide acceptable reasons for failure to attend in order to cancel the registration for the module and allow him or her to retake the same.
                    </p>


                    <!-- Question 3 -->
                    <h4><a class="anchor" id="q-What_are_the_requirements_to_ask_for_re-grading_or_to_take_remarking_exams" href=""><i class="anchor-icon"></i></a>Q: What are the requirements to ask for re-grading or to take remarking exams?</h4>
                    <p>
                        A student who wishes to appeal a decision made about a grade, should first approach the instructor. 
                        If no resolution is met, the student should then approach the department chairperson, and finally the Associate Dean for Undergraduate Programs.
                    </p>


                    <!-- Question 4 -->

                    <h4><a class="anchor" id="q-what_are_the_grading_modes_in_AAU" href=""><i class="anchor-icon"></i></a>Q: What are Honor programs?</h4>
                    <p>
                        Honor programs are expected to cultivate able students who can progress to higher level of studies in their major field of study directly after their graduation from undergraduate program. 
                        It is designed to facilitate creative and individualized learning among talented and motivated students. It is an opportunity for a student to explore in-depth a topic within his or her major area of study, or a closely related area. The student selects a professor to serve as his or her Honor adviser. The final product of the Honors program experience may be a senior thesis, a computer program, an engineering design, or another type of artistic or technical creation. 
                        All such attempts are called “Honor Thesis” and will be part of departmental or college requirements for graduation.
                    </p>
                    <p>
                        An honor advisor is expected to be Assistant professor and above 
                        while the student should have a CGPA of 3.0 and major CGPA of 3.25 and above at the end of their first year stay in the department. 
                    </p>


                    <!-- Question 5 -->

                    <h4><a class="anchor" id="q-How_is_internship_graded_in_‘X’_field_of_study" href=""><i class="anchor-icon"></i></a>Q: How is internship graded in ‘X’ field of study?</h4>
                    <p>
                        Each department determines the eligibility of senior students for inter/externship program. Criteria for eligibility vary among programs the detail of which is indicated in the curriculum document. 
                        Some department can or may have separate guideline on internship program.
                    </p>
                    <p>
                        Depending on the requirement of the curriculum, grading may be required. Some programs may allow only completing the 
                        internship and presenting evaluation report by the site supervisor and student. In case the intern-externship course is given a grade, 
                        departments are expected to develop detailed marking schemes (rubrics) which would vary according to the discipline in question.
                    </p>
                    <p>If specific grade is not expected for the intern/externship course, upon completion of the internship, interns and supervisors are required to complete and submit reports based on the contents mentioned above under evaluation. 
                        The intern is expected to submit report to his/her faculty advisor the internship journal and summary paper.

                    </p>

                </div>

            </div>
            
        </div>
    </div>
  </div>