
<header>
  <!-- <div class="container-fluid"> -->
    <nav class="navbar navbar-expand-lg ">
      <div class="logo float-left">

          <a href="#intro" id="ba"><img src="assets/img/AAU.PNG" alt="" class="img-fluid pull-left"></a>
      </div>
      <button class="navbar-toggler navbar-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-control="navbarNav" aria-expanded="false" aria-label="Togglr navigation">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbarNav">
        <div class="mr-auto"></div> 
        <ul class="nav navbar-nav navbar-right"> 
          <li class="nav-item active">
              <a href="#intro" class="nav-link"> Home </a>
          </li>
          <li class="nav-item"> 
            <a href="#" (click)="logout($event)" class="nav-link" *ngIf=loggedIn><span class="glyphicon glyphicon-log-out"></span>LogOut</a>
            <a href="/login" class="nav-link" *ngIf=!loggedIn> <span class="glyphicon glyphicon-log-in"></span> LogIn </a>
          </li>
            
          <li class="nav-item" *ngIf="userType === 'Department Head'">
            <a href="/departmentHead/instructors" class="nav-link"> List Instructors </a>
          </li>
              
          <li class="nav-item " *ngIf="userType === 'Department Head'">
            <a href="/departmentHead/courses" class="nav-link"> List Course </a>
          </li>

          <li class="nav-item " *ngIf="userType === 'Department Head'">
            <a href="/departmentHead/offered/courses" class="nav-link"> List Course_Offering </a>
          </li>

          <li class="nav-item " *ngIf="userType === 'Registral Clerk'">
            <a href="/registralClerk/student" class="nav-link"> Register Student </a>
          </li>
              
              
          <li class="nav-item " *ngIf="userType === 'Registral Clerk'">
            <a href="/registralClerk/semesters" class="nav-link"> Semester </a>
          </li>
            <!-- <li class="nav-item " *ngIf="userType === 'Registral Clerk'">
              <a href="/registralClerk/semesters" class="nav-link"> Semester </a>
            </li> -->

          <li class="nav-item " *ngIf="userType === 'Student'">
            <a href="/registralClerk/semesters" class="nav-link"> Add/Drop </a>
          </li>
          <li class="nav-item " *ngIf="userType === 'Student'">
            <a href="/Student/{{userId}}/registered/courses" class="nav-link"> All Courses </a>
          </li>
          <li class="nav-item " *ngIf="userType === 'Student'">
            <a href="/registralClerk/semesters" class="nav-link"> Advisor </a>
          </li>
          <li class="nav-item " *ngIf="userType === 'Student'">
            <a href="/student/{{userId}}/course" class="nav-link">Course Register </a>
          </li>
            <!-- /student/${this.Token.getUser()}/course -->


        </ul>
      </div> 
    </nav>
  <!-- </div> -->
         
</header>
