<app-header2></app-header2>
<div class="content-wrapper">
  <section  class="content" id="main2">
    <div class="row" >
      <div class="col-md-12" id="userForm">
      
        <div class="box" >
          <div class="box-header ">
            <h3 style="text-align: center;" class="mt-5"><b>Student Registration Form</b></h3><i  style="text-align: center;" *ngIf="timeTable !=='registration is available'">(student registration is not available now)</i>       
             <!-- <h3 class="box-title" id="userForm"><i>Student Registration Form</i><i *ngIf="timeTable !=='registration is available'">(student registration is not available now)</i></h3> -->
          </div>
          <hr/>
         
          <div class="alert alert-success alert-dismissible" [hidden]="!message">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h4><i class="icon fa fa-check"></i> {{ message }}</h4>
            
          </div>
          <div class="alert alert-danger" [hidden]="!error">
            {{error}}
          </div>
          <form class="form-horizontal" #registerForm=ngForm (submit)="onSubmit()"  enctype="multipart/form-data">
            <div class="row"  id="visitorRow">
              <div class="col-md-6" >
                  <!-- Horizontal Form -->
                  <div class="box ">
                    <div class="box-body">
                      <div class="form-group row">
                          <label for="firstName" class="col-sm-4 control-label">First Name</label>

                          <div class="col-sm-7">
                            <input type="text" class="form-control" id="firstName" #firstName  name="firstName" [(ngModel)]="form.firstName" placeholder="First Name">
                          </div>
                      </div>
                      <div class="form-group row">
                        <label for="middleName" class="col-sm-4 control-label">Middle Name</label>

                        <div class="col-sm-7">
                          <input type="text" class="form-control" id="middleName" name="middleName" [(ngModel)]="form.middleName"  placeholder="Middle Name">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="lastName" class="col-sm-4 control-label">Last Name</label>

                        <div class="col-sm-7">
                          <input type="text" class="form-control" id="lastName"  name="lastName"  [(ngModel)]="form.lastName" placeholder="Last Name">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="DOB" class="col-sm-4 control-label">DOB</label>

                        <div class="col-sm-7">
                          <input type="date" class="form-control" id="DOB"  name="DOB"  [(ngModel)]="form.DOB" placeholder="DOB">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="email" class="col-sm-4 control-label" >Email</label>

                        <div class="col-sm-7">
                          <input type="email" class="form-control" id="email" name="email"  [(ngModel)]="form.email"  placeholder="Email">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="studentId" class="col-sm-4 control-label" >Student Identification </label>

                        <div class="col-sm-7">
                          <input type="text" class="form-control" id="studentId" name="studentId"  [(ngModel)]="form.studentId"  placeholder="studentId">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="entry" class="col-sm-4 control-label">Year-of-Entry</label>

                        <div class="col-sm-7">
                          <input type="date" class="form-control" id="entry" name="entry"   [(ngModel)]="form.entry"  placeholder="year-of-entry">
                        </div>
                      </div>

                    </div>
                    
                  </div>
              </div>

              <div class="col-md-6" >
                    <!-- Horizontal Form -->
                    <div class="box ">
                      <div class="box-body">
                        <div class="form-group row">
                            <label for="password" class="col-sm-4 control-label">Password</label>

                            <div class="col-sm-7">
                              <input type="password" class="form-control" id="password" name="password"   [(ngModel)]="form.password" placeholder="Password" >
                            </div>
                        </div>
                        <div class="form-group row">
                          <label for="sex" class="col-sm-4 control-label">Gender</label>

                          <div class="col-sm-7">
                            <select class="form-control" #sex name="sex"  [(ngModel)]="form.sex" >
                              <option value="female">Female</option>
                              <option value="male">Male</option>
                            </select>
                            <!-- <input type="text"  class="form-control" id="sex"   name="sex" [(ngModel)]="form.sex" placeholder="gender" > -->
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="photo" class="col-sm-4 control-label">photo</label>

                          <div class="col-sm-7">
                            <input type="file" (change)="onFileSelected($event)" class="form-control" id="photo"   name="photo" [(ngModel)]="form.photo" placeholder="photo" >
                          </div>
                        </div>
                        <div class="form-group row">
                            <label for="phone" class="col-sm-4 control-label">Phone Number</label>

                            <div class="col-sm-7">
                              <input type="number" class="form-control" id="phone" name="phone"  [(ngModel)]="form.phone" placeholder="Phone Number">
                            </div>
                        </div>
                        <div class="form-group row">
                          <label for="department" class="col-sm-4">Department</label>
                          <div class="col-sm-7">
                            <select class="form-control" #department name="department"  [(ngModel)]="form.department" >
                              
                              <option  *ngFor="let department of departments" value="{{department.name}}">{{department.name}}</option>
                            </select>
                          </div>
                        </div>
                        <!-- <br/> -->
                        <div class="form-group row">
                          <label for="program" class="col-sm-4">Program</label>
                          <div class="col-sm-7">
                            <select class="form-control" #program name="program"  [(ngModel)]="form.program">
                              
                              <option  *ngFor="let program of programs" value="{{program.programTitle}}">{{program.programTitle}}</option>
                            </select>
                          </div>
                        </div>
                          

                      </div>
                    </div>
              </div>
             
            </div>
            <hr/>
            <div class="box-footer">
              <!-- <button type="submit" class="btn btn-default pull-right">Cancel</button> -->
              <button *ngIf="timeTable=='registration is available'" type="submit" class="btn btn-primary2 pull-right">Register</button>
            </div>

          </form>
        </div>
      
      </div>
    </div>
  </section>
  
    <!-- /.content -->
</div>
