<app-header2></app-header2>
<div class="container" [hidden]="!show2">
    <div class="alert alert-danger" [hidden]="!message">
        {{message}}
      </div>
      <div class="box-header ">
        <h6 style="text-align: center;" class="mt-5"><b>List of Courses for this Semester</b></h6>
      </div>
      <hr/>
    
    <form [formGroup]="courseForm"  (submit)="onSubmit(courseForm)">  
        <div class="row table-responsive">       
            <table class="table table-hover">
            
            <thead>
                <tr>
                <th>Number</th>
                <th>Course Code</th>
                <th>Course Title</th>
                <th>Course Module</th>
                <th>Course Credit Hours</th>
                <th>Course ECTS</th>
                </tr>
            </thead>
            <tbody>
            
                <tr *ngFor="let course of courses;let i= index">
                <td>
                    <div class="custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="{{i}}" name="check1" value="course" (change)="onChange(course,$event.target.checked)" [checked]="courseForm.controls.course.value.indexOf(course)>=0" >
                    <label class="custom-control-label" for="{{i}}">{{i+1}}</label>
                </div>

                </td>
                <td>{{course.code}}</td>
                <td>{{course.title}}</td>
                <td>{{course.module}}</td>
                <td>{{course.creditHours}}</td>
                <td>{{course.ECTS}}</td>
                <td >{{course.message}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Total:{{creditHours}}</td>
                    <td>Total:{{ECTS}}</td>
                </tr>
                <!-- <h5 *ngIf="optionalCoursesLength > 0" id="optionalId">OptionalSemesterCourses</h5> -->
                <tr *ngIf="optionalCoursesLength>0">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Optional Semester Course</td>
                    <td></td>
                    <td></td>
                </tr>
                <!-- <div *ngIf="optionalCoursesLength>0"> -->
                <!-- if(optionalCoursesLength>0) -->
                    <tr  *ngFor="let course of optionalCourses;let i= index">
                        <td><div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="{{i+coursesLength}}" name="check1" value="course" (change)="onChange(course,$event.target.checked)" [checked]="courseForm.controls.course.value.indexOf(course)>=0" >
                            <label class="custom-control-label" for="{{i+coursesLength}}">{{i+coursesLength+1}}</label>
                        </div>
                        </td>
                        <td>{{course.code}}</td>
                        <td>{{course.title}}</td>
                        <td>{{course.module}}</td>
                        <td>{{course.creditHours}}</td>
                        <td>{{course.ECTS}}</td>
                        <td >{{course.message}}</td>
                    </tr>
                <!-- endif -->
                <!-- </div> -->
            
            </tbody>
            </table>
            <input type="submit" value="submit" class="btn btn-primary fa fa-paper-plane ">
        </div>
    </form>
  </div>

  <div class="container" [hidden]="!show">
    <!-- <h3><i>{{ message }}</i></h3> -->
    <div class="box-header ">
        <h6 style="text-align: center;" class="mt-5"><b>{{ message2 }}</b></h6>
      </div>
      <hr/>
        <table class="table table-hover">
            
        <thead>
            <tr>
            <th>Number</th>
            <th>Course Code</th>
            <th>Course Title</th>
            <th>Course Module</th>
            <th>Course Credit Hours</th>
            <th>Course ECTS</th>
            </tr>
        </thead>
        <tbody>
           
            <tr *ngFor="let course of registeredCourses;let i= index">
            <td>{{i+1}}

            </td>
            <td>{{course.code}}</td>
            <td>{{course.title}}</td>
            <td>{{course.module}}</td>
            <td>{{course.creditHours}}</td>
            <td>{{course.ECTS}}</td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Total:{{creditHours}}</td>
                <td>Total:{{ECTS}}</td>
            </tr>
            
            

           
        </tbody>
        </table>
        
  </div>
<hr/>
  <div class="container" [hidden]="!showUnregistered">
    <!-- <h3><i>{{ message }}</i></h3> -->
    <div class="box-header ">
        <h6 style="text-align: center;" class="mt-5 alert alert-danger"><b>{{ message3 }}</b></h6>
      </div>
      <hr/>
        <table class="table table-hover">
            
        <thead>
            <tr>
            <th>Number</th>
            <th>Course Code</th>
            <th>Course Title</th>
            <th>Course Module</th>
            <th>Course Credit Hours</th>
            <th>Course ECTS</th>
            </tr>
        </thead>
        <tbody>
           
            <tr *ngFor="let course of unRegisteredCourses;let i= index">
            <td>{{i+1}}

            </td>
            <td>{{course.code}}</td>
            <td>{{course.title}}</td>
            <td>{{course.module}}</td>
            <td>{{course.creditHours}}</td>
            <td>{{course.ECTS}}</td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Total:{{creditHours}}</td>
                <td>Total:{{ECTS}}</td>
            </tr>
            
            

           
        </tbody>
        </table>
        
  </div>