<app-header2></app-header2>

<section class="content" id="mainContent">
       
          <hr>
          <div class="row">
    
    
            <div class="col-lg-6 col-sm-12 ">
              <div class="card fixHeightCard">
                <div class="card-header cardheading">Detail</div>
                <ul class="list-group list-group-flush">
                        <li class="list-group-item">FirstName | {{ users.firstName }} </li>
                        <li class="list-group-item">Middle Name | {{ users.middleName }} </li>
                        <li class="list-group-item">Last Name |  {{ users.lastName }}</li>
                        
                        <li class="list-group-item">UserId |  {{ users.userId }}</li>
                        <li class="list-group-item">UserType | {{ users.role }}</li>
                        <li class="list-group-item">Department | {{ users.department }}</li>
                  
                </ul>
              </div>
            </div>
            <div class="col-lg-6 col-sm-12 ">
                <div class="card fixHeightCard">
                  <div class="card-header cardheading">Contact Information</div>
                  <ul class="list-group list-group-flush">
                          <li class="list-group-item">Email | {{ users.email }}</li>
                          <li class="list-group-item">Phone Number1 | {{ users.primaryPhoneNumber }}</li>
                          <li class="list-group-item">Phone Number2 |  {{ users.secondaryPhoneNumber }}</li>
                   
                    
                  </ul>
                </div>
            </div>
            
    
           
    
         
    
          
        </div>
     
       
</section>
