#mainContent{
    /*margin-top:70px;*/
    /* background-color: aqua; */
    width:80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;


}
.content{
    margin-left: auto;
    margin-right: auto;
}