<app-header2></app-header2>
<!-- <notifier-container></notifier-container> -->
<div class="content-wrapper" id="mainContent">
  <section class="content">
    <div class="row ">
      <div class="col-md-12" id="userForm">
      <!-- Horizontal Form -->
        <div class="box" >
          <div class="box-header">
            <h3 style="text-align: center;">Update {{form.firstName}} Data</h3>
          </div>
          <hr>
 
          <div class="alert alert-success alert-dismissible" [hidden]="!message">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h4><i class="icon fa fa-check"></i> {{ message }}</h4>
          
          </div>
          <div class="alert alert-danger" [hidden]="!error">
            {{error}}
          </div>
          <form class="form-horizontal"  (submit)="onSubmit()" >
            <div class="row"  id="visitorRow">
              <div class="col-md-6" >
                  
                  <div class="box">
                   
                    
                      <div class="box-body">
                        
                        <div class="form-group row">
                          <label for="firstName" class="col-sm-3 control-label">First Name:</label>

                          <div class="col-sm-7">
                            <input type="text" class="form-control" id="firstName" name="firstName" [(ngModel)]="form.firstName"  placeholder="First Name" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
                            <div *ngIf=" submitted && f.firstName.errors" class="invalid-feedback">
                              <div *ngIf="f.firstName.errors.required">First Name is required</div>
                            </div>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="middleName" class="col-sm-3 control-label">Middle Name:</label>

                          <div class="col-sm-7">
                            <input type="text" class="form-control" id="middleName" name="middleName" [(ngModel)]="form.middleName"  placeholder="Middle Name" [ngClass]="{ 'is-invalid': submitted && f.middleName.errors }">
                            <div *ngIf=" submitted && f.middleName.errors" class="invalid-feedback">
                              <div *ngIf="f.middleName.errors.required">middle Name is required</div>
                            </div>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="lastName" class="col-sm-3 control-label">Last Name</label>

                          <div class="col-sm-7">
                            <input type="text" class="form-control" id="lastName"  name="lastName" [(ngModel)]="form.lastName" placeholder="Last Name" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
                            <div *ngIf=" submitted && f.lastName.errors" class="invalid-feedback">
                              <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                            </div>
                          </div>
                        </div>
                        
                        <div class="form-group row">
                          <label for="department" class="col-sm-3 control-label">Department</label>
                          
                          <select class="form-control col-sm-7"  name="department" [(ngModel)]="form.department">
                            <option value="{{ department.name }}" *ngFor="let department of departments">{{department.name}}</option>
                            
                            
                          </select>
                          <div *ngIf=" submitted && f.department.errors" class="invalid-feedback">
                            <div *ngIf="f.department.errors.required">Department is required</div>
                          </div>
                        </div>

                        <div class="form-group row">
                          <label for="userId" class="col-sm-3 control-label" > Id</label>

                          <div class="col-sm-7">
                            <input type="text" class="form-control" id="userId" name="userId" [(ngModel)]="form.userId"   placeholder="userId" [ngClass]="{ 'is-invalid': submitted && f.userId.errors }">
                            <div *ngIf=" submitted && f.userId.errors" class="invalid-feedback">
                              <div *ngIf="f.userId.errors.required">userId is required</div>
                            </div>
                          </div>
                        </div>

                      </div>
                    
                  </div>
              </div>

                <!-- second div -->

                <div class="col-md-6" >
                  <div class="box">
                    <div class="box-body">
                      <div class="form-group row">
                        <label for="phone" class="col-sm-3 control-label">Primary Phone Number</label>

                        <div class="col-sm-7">
                          <input type="number" class="form-control" id="phone" name="phone" [(ngModel)]="form.phone"  placeholder="Phone Number" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }">
                          <div *ngIf=" submitted && f.phone.errors" class="invalid-feedback">
                            <div *ngIf="f.phone.errors.required">phone is required</div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="phone2" class="col-sm-3 control-label">Secondary Phone Number</label>

                        <div class="col-sm-7">
                          <input type="number" class="form-control" id="phone2" name="phone2" [(ngModel)]="form.phone2"  placeholder="Phone Number" [ngClass]="{ 'is-invalid': submitted && f.phone2.errors }">
                          <div *ngIf=" submitted && f.phone2.errors" class="invalid-feedback">
                            <div *ngIf="f.phone2.errors.required">phone2 is required</div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="email" class="col-sm-3 control-label" >Email</label>

                        <div class="col-sm-7">
                          <input type="email" class="form-control" id="email" name="email" [(ngModel)]="form.email"  placeholder="Email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                          <div *ngIf=" submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">email is required</div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="role" class="col-sm-3 control-label">Role</label>

                        <div class="col-sm-7">
                          <select class="form-control" name="role" [(ngModel)]="form.role" [ngClass]="{ 'is-invalid': submitted && f.role.errors }">
                            
                            <option value="Instructor" [selected]="form.role =='Instructor'">Instructor</option>
                            <option value="Advisor" [selected]="form.role =='Advisor'">Advisor</option>
                            <option value="Department Head" [selected]="form.role =='Department Head'">Department Head</option>
                            <option value="Registral Clerk" [selected]="form.role =='Registral Clerk'">Registral Clerk</option>
                            <option value="Admin" [selected]="form.role =='Admin'">Admin</option>
                            
                          </select>
                          <div *ngIf=" submitted && f.role.errors" class="invalid-feedback">
                            <div *ngIf="f.role.errors.required">role is required</div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="password" class="col-sm-3 control-label">Password</label>

                        <div class="col-sm-7">
                          <input type="password" class="form-control" id="password" name="password" [(ngModel)]="form.password"  placeholder="Password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                          <div *ngIf=" submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">password is required</div>
                          </div>
                        </div>
                      </div>
                       <hr>
                      <div class="box-footer">
                        <button type="submit" class="btn btn-default pull-right">Cancel</button>
                        <button type="submit" class="btn btn-primary pull-right">Edit</button>
                        
                      </div>
                     
                    </div>
                    
                  </div>
                 
                  
                </div>

            </div>
          </form>

        </div>
     
      </div>
    </div>
  </section> 
</div>