#mainContent{
    /*margin-top:70px;*/
    /* background-color: aqua; */
    width:75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;


}
#mainContent2{
    /*margin-top:70px;*/
    /* background-color: aqua; */
    width:90%;
    margin-left: auto;
    margin-right: auto;
    

}
#rw{
	
	width:100%;
}
#userForm{
    width:90%;
    margin:auto;
    
  
}

#deleteBtn{
    margin:5px;
}
#offerBtn{
    margin:5px;
}
#editBtn{
    margin:5px;
    color:white;
}
#progressBar{
    margin-left:auto;
    margin-right:auto;
}