<header >
    <div >
      <nav class="navbar navbar-expand-lg ">
        <div class="logo" id="logoA">
  
            <!-- /<a href="#intro" id="ba"><img src="assets/img/AAU.PNG" alt="" class="img-fluid pull-left"></a> -->
            <a href="#intro" ><img src="assets/img/AAU.PNG" class="pull-left" alt="" ></a>
        </div>
        <button id="collapseBtn" class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav" aria-control="navbarNav" aria-expanded="false" aria-label="Togglr navigation">
          <span class="line"></span>
          <span class="line"></span>
          <span class="line"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarNav">
         
          <ul class="nav navbar-nav ml-auto"> 
          
            <li class="dropdown">
              <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">  Menu  </a>
              <ul class="dropdown-menu">
                <li class="nav-item" *ngIf="userType === 'Department Head'">
                  <a href="/departmentHead/instructors" class="nav-link"> <i class="fa fa-list btnColor" aria-hidden="true"></i> Instructors </a>
                </li>
                    
                <li class="nav-item " *ngIf="userType === 'Department Head'">
                  <a href="/departmentHead/courses" class="nav-link"> <i class="fa fa-list btnColor" aria-hidden="true"></i> Course </a>
                </li>
                <li class="nav-item " *ngIf="userType === 'Student'">
                  <a href="/student/{{userId}}/course" class="nav-link"> <i class="fa fa-registered btnColor"></i> Course </a>
                </li>
                <li class="nav-item " *ngIf="userType === 'Student'">
                  <a href="/student/{{userId}}/advisor" class="nav-link"> <i class="fa fa-comment btnColor"></i> Advisor </a>
                </li>
                <li class="nav-item " *ngIf="userType === 'Department Head'">
                  <a href="/departmentHead/programs" class="nav-link"> <i class="fa fa-list btnColor" aria-hidden="true"></i> Programs </a>
                </li>
      
                <li class="nav-item " *ngIf="userType === 'Department Head'">
                  <a href="/departmentHead/offered/courses" class="nav-link"> <i class="fa fa-list btnColor" tooltip="offering" aria-hidden="true"></i> Offering </a>
                </li>

                <li class="nav-item " *ngIf="userType === 'Department Head'">
                  <a href="departmentHead/modules" class="nav-link"><i class="fa fa-list btnColor" aria-hidden="true"></i> Modules </a>
                </li>
                <li class="nav-item " *ngIf="userType === 'Registral Clerk'">
                  <a href="/registralClerk/student" class="nav-link"><i class="fa fa-user-plus" aria-hidden="true"></i> Student </a>
                </li>
                <li class="nav-item " *ngIf="userType === 'Registral Clerk'">
                  <a href="/registralClerk/grades" class="nav-link"><i class="fa fa-list btnColor " aria-hidden="true"></i> Grade </a>
                </li> 
                    
                <li class="nav-item " *ngIf="userType === 'Registral Clerk'">
                  <a href="/registralClerk/semesters" class="nav-link"><i class="fa fa-list btnColor " aria-hidden="true"></i>  Semester </a>
                </li>
                <li class="nav-item " *ngIf="userType === 'Registral Clerk'">
                  <a href="/registralClerk/students" class="nav-link"> <i class="fa fa-list btnColor " aria-hidden="true"></i>  Students </a>
                </li>
      
                <!-- <li class="nav-item " *ngIf="userType === 'Student'">
                  <a href="" class="nav-link"> Add/Drop </a>
                </li> -->
                <li class="nav-item " *ngIf="userType === 'Student'">
                  <a href="/Student/{{userId}}/registered/courses" class="nav-link"><i class="fa fa-list btnColor " aria-hidden="true"></i>  Courses </a>
                </li>
                <li class="nav-item " *ngIf="userType === 'Student'">
                  <a href="/faq" class="nav-link"><i class="fa fa-question-circle btnColor" aria-hidden="true"></i>  FAQ </a>
                </li>
                <!-- <li class="nav-item " *ngIf="userType === 'Student'">
                  <a href="/registralClerk/semesters" class="nav-link"> Advisor </a>
                </li> -->
               
                
                <li class="nav-item"> 
                  <a href="#" (click)="logout($event)" class="nav-link" *ngIf=loggedIn><i class="fa fa-sign-out btnColor" aria-hidden="true"></i>  LogOut</a>
                  <a href="/login" class="nav-link" *ngIf=!loggedIn> <span class="glyphicon glyphicon-log-in"></span> LogIn </a>
                </li>
              </ul>
            </li>
          <li class="nav-item active">
            <a href="#intro" class="nav-link"> Home </a>
          </li>
          
          <li class="nav-item " *ngIf="userType === 'Student'">
            <a  class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"><i class="fa fa-bell"></i>{{notificationCount}}</a>
            <ul class="dropdown-menu">
              <div *ngFor="let notification of notifications">
                <li class="nav-item " >
                  <a href="" class="nav-link">{{ notification.data.message }}</a>
                </li>
              </div>
              
            </ul>

          </li>
          <li class="nav-item active">
            
          </li>
           
  
  
          </ul>
        </div> 
      </nav>
    </div>
           
  </header>

  