button{
background-color: burlywood;
}
#dd{
    z-index:3;
    background-color: green;
}
.navbar-toggler{
    width:47px;
    height:34px;
    background-color:#ddd;
}


.show{
    display:block;
}
.navbar-toggler .line{
    width:100%;
    float:right;
    height:2px;
    background-color:#2A66A7;
    margin-bottom: 5px;
}

*{
    box-sizing: border-box;
}
#ba
{
    background-color: black;
}
/* #navbarNav{
    background-color: green;
} */
header,section{
    /* overflow-x:hidden; */
    margin-bottom:10px;
   
}
header a{
  color:white;
}
header .logo{
  float:left;
}
header .logo h1 {
  font-size: 36px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

header .logo h1 a,
header .logo h1 a:hover {
  color: #00366f;
  text-decoration: none;
}
#collapseBtn{
    float:right;
}
header .logo img {
  padding: 0;
  /*margin: 7px 0;*/
  float:left;
  margin-top: -15px;
  height: 50px;
  width: 200px;
  background-color: black;
}
#logoA{
    background-color:red;
}
/*header a{
    font-size:0.5em
}*/
header{
    background:#2A66A7!important;
    background: var(-bggradient);
    
    
}
.dropdown-menu a{
    color:black;
}
header a:hover{
    background-color:lightblue;
}
.dropdown-menu{
    min-width: 8rem !important;
}
/* .dropdown-content{
    display:none;
    position: absolute;
    background: white;
    min-width: 160px;
    box-shadow:0px 2px 15px 0px rgba(0,0,0,2);
    z-index:1;

}
.dropdown-content a{
    color:black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;;
}
.dropdown-content a:hover{
    background-color: #ddd;
}
.dropdown:hover .dropdown-content{
    display: block;
} */


header .navbar-brand{
    padding-left:8rem;
}

header nav-link:hover{
    color:black;
}

header .row .col-md-5{
    padding:4.2vmin 1vmin;
}

header .row .col-md-7{
    padding:22vmin 1vmin;
    padding-bottom: 35vmin;;
}
header .row .col-md-5 img{
    width:90%;
}

header .container .col-md-5 h6{
    padding:1vmin;
    letter-spacing:4px;
}
header .container .col-md-7 h1{
    font-size:8vmin;
    font-weight: bold;
    padding:0.1em 0em;
}
.section-1 .row .col-md-6 .pray img{
    opacity: 0.8;
    width:80%;
    border-radius: 0.2em;
}
.section-1 .row .col-md-6:last-child{
    position: relative;
}
.section-1 .row .col-md-6 .panel{
    position: absolute;
    top:7vmin;
    left:-18vmin;
    background: white;
    border-radius: 3px;
    text-align: left;
    padding: 13vmin 5vmin 20vmin 14vmin;
    box-shadow: 0px 25px 42px rgba(0,0,0,0.5);
}

@media (min-width: 992px){
	.dropdown-menu .dropdown-toggle:after{
		border-top: .3em solid transparent;
	    border-right: 0;
	    border-bottom: .3em solid transparent;
	    border-left: .3em solid;
	}
	.dropdown-menu .dropdown-menu{
		margin-left:0; margin-right: 0;
	}
	.dropdown-menu li{
		position: relative;
	}
	.nav-item .submenu{ 
		display: none;
		position: absolute;
		left:100%; top:-7px;
	}
	.nav-item .submenu-left{ 
		right:100%; left:auto;
	}
	.dropdown-menu > li:hover{  }
	.dropdown-menu > li:hover > .submenu{
		display: block;
	}
}
@media (max-width: 992px) {
    header .logo{
        float:left;
    }
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: right !important;
    }
    .navbar-toggle {
        /* display: block; */
        float:right;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: right;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
    }
    #collapseBtn{
        float:right;
    }
}