<app-header2></app-header2>
<div class="content-wrapper" id="mainContent2">
  <section class="content">
    <div class="row" >
      <div class="col-md-12" id="programForm">
        <div  [hidden]="!addButton">
          <div class="box-header ">
            <h3 style="text-align: center;" class="mt-5"><b>Program Registration</b></h3>
           
          </div>
          <hr/>
          <div class="alert alert-success alert-dismissible" [hidden]="!message">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h4><i class="icon fa fa-check"></i> {{ message }}</h4>
            
          </div>
          <div class="alert alert-error alert-dismissible" [hidden]="!error">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h4><i class="icon fa fa-check"></i> {{ error }}</h4>
            
          </div>
          <!-- (submit)="add({code: code.value,title: title.value,lectureHours: lectureHours.value,ECTS: ects.value,laboratoryHours: laboratoryHours.value,creditHours: creditHours.value,requisite:requisite.value,module: module.value })" -->
          <form class="form-horizontal" #loginForm=ngForm (submit)="onSubmit()"   >
            <div class="row"  >
              <div class="col-md-6" >
                <div class="box ">
                  <div class="box-body">
                    <div class="form-group row">
                      <label for="programTitle" class="col-sm-4 control-label">Program Title</label>

                      <div class="col-sm-7">
                        <input type="text" class="form-control" id="programTitle" name="programTitle" [(ngModel)]="form.programTitle"  placeholder="Program Title">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="programDuration" class="col-sm-4 control-label">Program Duration</label>

                      <div class="col-sm-7">
                        <input type="number" class="form-control" id="programDuration" name="programDuration" [(ngModel)]="form.programDuration"   placeholder="Program Durattion">
                      </div>
                    </div>
                    <div class="form-group row">
                        <label for="studyLanguage" class="col-sm-4 control-label">Study Language</label>

                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="studyLanguage"  name="studyLanguage" [(ngModel)]="form.studyLanguage"  placeholder="studyLanguage">
                        </div>
                    </div>
                    <div class="form-group row">
                      <label for="min_overall_credit" class="col-sm-4 control-label">Minimum over credit</label>

                      <div class="col-sm-7">
                        <input type="number" class="form-control" id="min_overall_credit"  name="min_overall_credit" [(ngModel)]="form.min_overall_credit"  placeholder="Minimum over credit">
                      </div>
                    </div>
                    
                    
                    
                  
                 
                </div>
            </div>
        </div>
  <!-- second div -->

              <div class="col-md-6" >
                <div class="box">
                  <div class="box-body">
                    <div class="form-group row">
                        <label for="max_overall_credit" class="col-sm-4 control-label">Maximum overall credit</label>
  
                        <div class="col-sm-7">
                          <input type="number" class="form-control" id="max_overall_credit"  name="max_overall_credit" [(ngModel)]="form.max_overall_credit"  placeholder="Maximum overall credit">
                         </div>
                    </div>
                   
                    <div class="form-group row">
                        <label for="minimum_CGPA" class="col-sm-4 control-label">minimum CGPA</label>
        
                        <div class="col-sm-7">
                          <input type="number" class="form-control" id="minimum_CGPA"  name="minimum_CGPA" [(ngModel)]="form.minimum_CGPA"  placeholder="minimum CGPA">
                        </div>
                      </div>
                    <div class="form-group row">
                      <label for="ects" class="col-sm-4 control-label">ECTS</label>

                      <div class="col-sm-7">
                        <input type="number" class="form-control" id="ects"  name="ects" [(ngModel)]="form.ects"  placeholder="ects">
                      </div>
                    </div>
                    <div class="form-group row">
                        <label for="credit" class="col-sm-4 control-label">Credit</label>
  
                        <div class="col-sm-7">
                          <input type="number" class="form-control" id="credit"  name="credit" [(ngModel)]="form.credit"  placeholder="ects">
                        </div>
                    </div>
                  

                 
                </div> 
                </div>
              </div>
            </div>
            <hr/>
            <div class="box-footer">
              <!-- <button type="submit" class="btn btn-default pull-right">Cancel</button> -->
              <button type="submit" class="btn btn-primary pull-right">Register</button>
            </div>
          </form>
        </div>
     
      </div>

    </div>
  </section>
    
</div>
<hr/>

<div class="content-wrapper" id="mainContent">
  <section class="content" id="tableContent">
  <!-- Data Table -->
    <div class="box">
      <div class="box-header">
        <h3 class="box-title"></h3>
      </div>
               
      <div class="box-body">
        <div class="dataTables_wrapper form-inline dt-bootstrap" id="example1_wrapper">
          <div class="row" id="rw">
            <div class="col-sm-4"><div class="dataTables_filter" id="example1_filter" ><label><input class="form-control input-sm" aria-controls="example1" type="search" placeholder="filiter data" [(ngModel)]="term"></label></div></div>
            <div class="col-sm-4" id="addBtn"><div class="dataTables_filter" ></div></div>
            <div class="col-sm-4" id="addBtn3"><div  ><button class="btn btn-primary float-sm-right " tooltip="Register Program"  (click)="show()"><i class="fa fa-plus" aria-hidden="true"></i></button></div></div>
          </div>
          <br/>
          <div class="row table-responsive">
            <div class="col-sm-12">
              <table class="table table-bordered table-striped dataTable" id="example1" role="grid" aria-describedby="example1_info">
                <thead>
                  <tr role="row">
                    <th tabindex="0" class="sorting_asc" aria-controls="example1" style="width: 191.88px;" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" rowspan="1" colspan="1">Program Title</th>
                    <th tabindex="0" class="sorting" aria-controls="example1" style="width: 242.68px;" aria-label="Browser: activate to sort column ascending" rowspan="1" colspan="1">Program Duration</th>
                    <th tabindex="0" class="sorting" aria-controls="example1" style="width: 223.08px;" aria-label="Platform(s): activate to sort column ascending" rowspan="1" colspan="1">Study Language</th>
                    <th tabindex="0" class="sorting_asc" aria-controls="example1" style="width: 191.88px;" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" rowspan="1" colspan="1">Department</th>
                    <th tabindex="0" class="sorting" aria-controls="example1" style="width: 242.68px;" aria-label="Browser: activate to sort column ascending" rowspan="1" colspan="1">Credit</th>
                    <th tabindex="0" class="sorting" aria-controls="example1" style="width: 223.08px;" aria-label="Platform(s): activate to sort column ascending" rowspan="1" colspan="1">ECTS</th>
                    <th tabindex="0" class="sorting" aria-controls="example1" style="width: 223.08px;" aria-label="Platform(s): activate to sort column ascending" rowspan="1" colspan="1">Actions</th>
                  <!--  <th tabindex="0" class="sorting" aria-controls="example1" style="width: 165.64px;" aria-label="Engine version: activate to sort column ascending" rowspan="1" colspan="1">Operation</th> -->
                  </tr>
                </thead>
                <tbody>
              
                  <tr class="odd" role="row" *ngFor="let program of programs | filter:term | paginate: { 
                    itemsPerPage: pageSize,
                    currentPage: page,
                    totalItems: total };let i=index">
                    <td class="sorting_1">
                      <a (click)="edit(program)">
                        
                        <span *ngIf="program!==editprogram">{{program.programTitle }}</span>
                        
                        <input *ngIf="program ===editprogram" [(ngModel)]="program.programTitle" (blur)="updateprogram(program)" (keyup.enter)="updateprogram(program)" >
                      </a>

                    </td>
                    <td class="sorting_1">
                      <a (click)="edit(program)">
                        
                        <span *ngIf="program!==editprogram">{{program.programDuration }}</span>
                        
                        <input *ngIf="program ===editprogram" [(ngModel)]="program.programDuration" (blur)="updateprogram(program)" (keyup.enter)="updateprogram(program)" >
                      </a>

                    </td>
                    <td class="sorting_1">
                      <a (click)="edit(program)">
                        
                        <span *ngIf="program!==editprogram">{{program.studyLanguage }}</span>
                        
                        <input *ngIf="program ===editprogram" [(ngModel)]="program.studyLanguage" (blur)="updateprogram(program)" (keyup.enter)="updateprogram(program)" >
                      </a>

                    </td>
                  
                    <td class="sorting_1">
                      <a (click)="edit(program)">
                        
                        <span *ngIf="program!==editprogram">{{program.department }}</span>
                        
                        <input *ngIf="program ===editprogram" [(ngModel)]="program.department" (blur)="updateprogram(program)" (keyup.enter)="updateprogram(program)" >
                      </a>

                    </td>
                    <td class="sorting_1">
                      <a (click)="edit(program)">
                        
                        <span *ngIf="program!==editprogram">{{program.credit }}</span>
                        
                        <input *ngIf="program ===editprogram" [(ngModel)]="program.credit" (blur)="updateprogram(program)" (keyup.enter)="updateprogram(program)" >
                      </a>

                    </td>
                    <td class="sorting_1">
                      <a (click)="edit(program)">
                        
                        <span *ngIf="program!==editprogram">{{program.ECTS}}</span>
                        
                        <input *ngIf="program ===editprogram" [(ngModel)]="program.ECTS" (blur)="updateprogram(program)" (keyup.enter)="updateprogram(program)" >
                      </a>

                    </td>
                    
                    <!-- <td class="sorting_1">{{college.collegeName }}</td>
                    <td>{{ college.campus }}</td> -->
                    <!-- <td>
                      <button class="btn btn-primary2" (click)="toggleFloat(i)">Actions</button> -->
                      <!-- <div [hidden]="!expanded[i]">
                        <button class="btn btn-danger" (click)="delete(program)"  id="deleteBtn">
                          <i class="glyphicon glyphicon-delete"></i>Delete
                          </button>
                          
                        <a  *ngIf="program.offered === 0" routerLink="/departmentHead/program-offer/{{ program.code }}" id="offerBtn" class="btn btn-primary2">Offer program </a>
                        
                      </div> -->
                      <td>
                        <!-- <button class="btn btn-default dropdown-toggle"  (click)="toggleFloat(i)">
                          ...
                        </button>
                        <div class="dropdown-menuu"  [hidden]="!expanded[i]">
                          <button class="btn btn-danger" (click)="delete(program)"  id="deleteBtn">
                            <i class="glyphicon glyphicon-trash"></i>
                            </button>
                            
                          <a  *ngIf="program.offered === 0" routerLink="/departmentHead/program-offer/{{ program.code }}" id="offerBtn" class="btn btn-primary2">Offer program </a>
                          <a   routerLink="/departmentHead/program/edit/{{ program.programTitle }}" id="offerBtn" class="btn btn-primary2">Edit </a>
                        </div> -->
                        <button id="btnGroupDrop1" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                          ⋮⋮⋮
                        </button>
                   
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                          <!-- <a  routerLink="/admin/user/{{ user.id }}" class="dropdown-item">
                            <i class="fa fa-info-circle btnColor"></i> User Information
                          </a> -->
                          <a  routerLink="/departmentHead/program/edit/{{ program.programTitle }}"  class="dropdown-item">
                            <i class="fa fa-edit btnColor"></i> Edit Program
                          </a>
                          <a (click)="delete(program)"  class="dropdown-item">
                            <i class="fa fa-trash btnColor"></i> Delete Program
                          </a>
                          
                        </div>
                      </td>
                        <!--  routerLink="/departmentHead/program/{{ program.id }}" <a routerLink="/staff/{{ department.departmentName }}" id="staffBtn" class="btn btn-primary2">Staff</a> -->
                    <!-- </td> -->
                    
                    
                  </tr>
                </tbody>
              
              </table>
              <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
            </div>
          </div>
        </div>
        <!-- /.box-body -->
      </div>
          
    </div>
  </section>
    <!-- /.content -->
</div>
