<app-header2></app-header2>
<div class="box" id="mainContaint">
  <div class="box-header">
    <h3 class="box-title"></h3>
  </div>
    <!-- /.box-header -->
  <div class="box-body">
    <div class="dataTables_wrapper form-inline dt-bootstrap" id="example1_wrapper"><div class="row" id="rw">
      <div class="col-sm-4"><div class="dataTables_filter" id="example1_filter"><label><input class="form-control input-sm" aria-controls="example1" type="search" placeholder="filiter data" [(ngModel)]="term"></label></div></div>
      <div class="col-sm-4"><div class="dataTables_filter" id="example1_filter"></div></div>
    </div>
    <div class="row table-responsive">
      <div class="col-sm-12 ">
        <table class="table table-bordered table-striped dataTable" id="example1" role="grid" aria-describedby="example1_info">
          <thead>
            <tr role="row">
              <th tabindex="0" class="sorting_asc" aria-controls="example1" style="width: 191.88px;" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" rowspan="1" colspan="1">First Name</th>
              <th tabindex="0" class="sorting" aria-controls="example1" style="width: 242.68px;" aria-label="Browser: activate to sort column ascending" rowspan="1" colspan="1">Middle Name</th>
              <th tabindex="0" class="sorting" aria-controls="example1" style="width: 223.08px;" aria-label="Platform(s): activate to sort column ascending" rowspan="1" colspan="1">Last Name</th>
              <th tabindex="0" class="sorting_asc" aria-controls="example1" style="width: 191.88px;" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" rowspan="1" colspan="1">Department</th>
              <th tabindex="0" class="sorting" aria-controls="example1" style="width: 242.68px;" aria-label="Browser: activate to sort column ascending" rowspan="1" colspan="1">Phone</th>
              <th tabindex="0" class="sorting" aria-controls="example1" style="width: 223.08px;" aria-label="Platform(s): activate to sort column ascending" rowspan="1" colspan="1">Email</th>
              <!--  <th tabindex="0" class="sorting" aria-controls="example1" style="width: 165.64px;" aria-label="Engine version: activate to sort column ascending" rowspan="1" colspan="1">Operation</th> -->
            </tr>
          </thead>
          <tbody>
            <tr class="odd" role="row" *ngFor="let student of Students | filter:term | paginate: { 
              itemsPerPage: pageSize,
              currentPage: page,
              totalItems: total };let i=index">
              <td class="sorting_1">
                <a (click)="edit(student)">
                  
                  <span *ngIf="student!==editStudent">{{student.firstName }}</span>
                  
                  <input *ngIf="student ===editStudent" [(ngModel)]="student.firstName" (blur)="update()" (keyup.enter)="update()" >
                </a>

              </td>
              <td class="sorting_1">
                <a (click)="edit(student)">
                  
                  <span *ngIf="student!==editStudent">{{student.middleName }}</span>
                  
                  <input *ngIf="student ===editStudent" [(ngModel)]="student.middleName" (blur)="update()" (keyup.enter)="update()" >
                </a>

              </td>
              <td class="sorting_1">
                <a (click)="edit(student)">
                  
                  <span *ngIf="student!==editStudent">{{student.lastName }}</span>
                  
                  <input *ngIf="student ===editStudent" [(ngModel)]="student.lastName" (blur)="update()" (keyup.enter)="update()" >
                </a>

              </td>
              
              <td class="sorting_1">
                <a (click)="edit(student)">
                  
                  <span *ngIf="student!==editStudent">{{student.department }}</span>
                  
                  <input *ngIf="student ===editStudent" [(ngModel)]="student.department" (blur)="update()" (keyup.enter)="update()" >
                </a>

              </td>
              <td class="sorting_1">
                <a (click)="edit(student)">
                  
                  <span *ngIf="student!==editStudent">{{student.primaryPhoneNumber }}</span>
                  
                  <input *ngIf="student ===editStudent" [(ngModel)]="student.phone" (blur)="update()" (keyup.enter)="update()" >
                </a>

              </td>
              <td class="sorting_1">
                <a (click)="edit(student)">
                  
                  <span *ngIf="student!==editStudent">{{student.email}}</span>
                  
                  <input *ngIf="student ===editStudent" [(ngModel)]="student.email" (blur)="update()" (keyup.enter)="update()" >
                </a>

              </td>
              
              <!-- <td class="sorting_1">{{college.collegeName }}</td>
              <td>{{ college.campus }}</td> -->
              <td>
                
                  <!-- <button class="btn btn-primary2" (click)="toggleFloat(i)">Actions</button>
                  <div  [hidden]="!expanded[i]">
                    <button class="btn btn-danger" (click)="delete(student)"  id="deleteBtn">
                        Delete
                      </button>
                      
                    <a  routerLink="/registralClerk/student/{{ student.id}}" id="detailBtn" class="btn btn-primary2">Detail </a>
                  
                  </div> -->
                  <button id="btnGroupDrop1" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    ⋮⋮⋮
                  </button>
             
                  <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <a routerLink="/registralClerk/student/{{ student.id}}" class="dropdown-item">
                      <i class="fa fa-info-circle btnColor"></i> Student Detail
                    </a>
                    <!-- <a  routerLink="/departmentHead/course/edit/{{ course.code }}"  class="dropdown-item">
                      <i class="fa fa-edit btnColor"></i> Edit Course
                    </a> -->
                    <a class="dropdown-item" (click)="delete(student)" >
                      <i class="fa fa-trash btnColor"></i>Delete Student
                    </a>
                  </div>
                  <!-- <a routerLink="/student/{{ department.departmentName }}" id="studentBtn" class="btn btn-primary2">student</a> -->
              </td>
              
              
            </tr>
          </tbody>
          <tfoot>
          <!-- <tr><th rowspan="1" colspan="1">CollegeName</th><th rowspan="1" colspan="1">Campus</th><th rowspan="1" colspan="1">Platform(s)</th><th rowspan="1" colspan="1">Action</th></tr> -->
          </tfoot>
        </table>
        <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
      </div>
    </div>
  </div>
  <!-- /.box-body -->
  </div>

</div>
