<p>set-date works!</p>
<p>Set Registration Date</p>
<div class="content-wrapper" id="mainContent2">
   
    <!-- Main content -->
    <section class="content" >
      <div class="row" >
        
    <div class="col-md-10" id="semesterForm">
        <!-- Horizontal Form -->
        <div class="box " [hidden]="!addButton">
          <div class="box-header ">
            <h5 class="box-title " id="userForm"><i>semester Registration</i></h5>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
         <div class="alert alert-success alert-dismissible" [hidden]="!message">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h4><i class="icon fa fa-check"></i> {{ message }}</h4>
            
          </div>
            <form class="form-horizontal"  (submit)="add({semester: semester.value,year:year.value,startedOn: startedOn.value,endedOn:endedOn.value})" >
<div class="row"  >
    <div class="col-md-6" >
        <!-- Horizontal Form -->
        <div class="box ">
         
          <!-- /.box-header -->
          <!-- form start -->
          
            <div class="box-body">
              
              <div class="form-group">
                <label for="startDate" class="col-sm-8 control-label">Start Date</label>

                <div class="col-sm-11">
                  <input type="datetime-local" class="form-control" id="startDate" #semester placeholder="Start Date">
                </div>
              </div>

              <div class="form-group">
                <label for="endDate" class="col-sm-8 control-label">End Date</label>

                <div class="col-sm-11">
                  <input type="datetime-local" class="form-control" id="endDate" #semester placeholder="End Date">
                </div>
              </div>
              <div class="box-footer">
                <button type="submit" class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-primary2 pull-right">Register</button>
              </div>
              

            </div>
          
        </div>
    </div>

      <!-- second div -->

     
        <!-- /.box -->
        <!-- general form elements disabled -->
       
        <!-- /.box -->
      </div>


</form>
        </div>
        <!-- /.box -->
        <!-- general form elements disabled -->
       
        <!-- /.box -->
      </div>

</div>
    

<!-- Data Table -->
</section>
    <!-- /.content -->
  </div>
