<app-header2></app-header2>
<div class="content-wrapper" id="mainContent">
  <section class="content">
    <div class="row" >
      <div class="col-md-12" id="courseForm">
        <div  [hidden]="!addButton">
          <div class="box-header ">
            <h3 style="text-align: center;" class="mt-5">Course Registration</h3>
          </div>
          <hr>
          <div class="alert alert-success alert-dismissible" [hidden]="!message">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h4><i class="icon fa fa-check"></i> {{ message }}</h4>
            
          </div>
          <div class="alert alert-error alert-dismissible" [hidden]="!error">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h4><i class="icon fa fa-check"></i> {{ error }}</h4>
            
          </div>
          <!-- (submit)="add({code: code.value,title: title.value,lectureHours: lectureHours.value,ECTS: ects.value,laboratoryHours: laboratoryHours.value,creditHours: creditHours.value,requisite:requisite.value,module: module.value })" -->
          <form class="form-horizontal" #loginForm=ngForm (submit)="onSubmit()"   >
            <div class="row"  >
              <div class="col-md-6" >
                <div class="box ">
                  <div class="box-body">
                    <div class="form-group row">
                      <label for="code" class="col-sm-3 control-label">Course Code</label>

                      <div class="col-sm-7">
                        <input type="text" class="form-control" id="code" name="code" [(ngModel)]="form.code"  placeholder="Course Code">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="title" class="col-sm-3 control-label">Course Title</label>

                      <div class="col-sm-7">
                        <input type="text" class="form-control" id="title" name="title" [(ngModel)]="form.title"   placeholder="course title">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="lectureHours" class="col-sm-3 control-label">Lecture Hours</label>

                      <div class="col-sm-7">
                        <input type="number" class="form-control" id="lectureHours"  name="lectureHours" [(ngModel)]="form.lectureHours"  placeholder="Lecture Hours">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="laboratoryHours" class="col-sm-3 control-label">laboratoty Hours</label>

                      <div class="col-sm-7">
                        <input type="number" class="form-control" id="laboratoryHours"  name="laboratoryHours" [(ngModel)]="form.laboratoryHours"  placeholder="Laboratory Hours">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="creditHours" class="col-sm-3 control-label">creditHours</label>
      
                      <div class="col-sm-7">
                        <input type="number" class="form-control" id="creditHours"  name="creditHours" [(ngModel)]="form.creditHours"  placeholder="credit Hours">
                      </div>
                  </div>
                  </div>
                </div>
              </div>
  <!-- second div -->

              <div class="col-md-6" >
                <div class="box">
                  <div class="box-body">
                   
                  
                    <div class="form-group row">
                      <label for="ects" class="col-sm-3 control-label">ECTS</label>

                      <div class="col-sm-7">
                        <input type="number" class="form-control" id="ects"  name="ects" [(ngModel)]="form.ects"  placeholder="ects">
                      </div>
                    </div>
                  <!-- <div class="form-group row">
                    <label for="requisite" class="col-sm-3 control-label">Pre-Requisite</label>

                    <div class="col-sm-7">
                     
                      <select class="form-control" name="requisite" [(ngModel)]="form.requisite" id="requisite" >
                        <option value="none">None</option>
                        <option  *ngFor="let course of courses" value="{{course.Code}}">{{course.code}}</option>
                      </select>

                      
                    </div>
                  </div> -->

                  <div class="form-group row">
                    <label for="requisite" class="col-sm-3 control-label">Pre-Requisite</label>

                    <div class="col-sm-7">
                  

                      <ng-select [items]="courses" bindLabel="code" appendTo="body" multiple="true" name="requisite" [(ngModel)]="form.requisite" placeholder="select course"></ng-select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="module" class="col-sm-3 control-label">Module</label>

                    <div class="col-sm-7">
                     
                      <ng-select [items]="modules" bindLabel="moduleTitle" appendTo="body" multiple="false" name="module" [(ngModel)]="form.module" placeholder="select module"></ng-select>
                    </div>
                  </div>
                 
                </div> 
                </div>
              </div>
            </div>
            <hr>
            <div class="box-footer">
              
              <button type="submit" class="btn btn-primary pull-right">Register</button>
            </div>
          </form>
          <button  class="btn btn-default pull-right">Cancel</button>
        </div>
     
      </div>

    </div>
  </section>
    
</div>
<hr>
<div class="content-wrapper" id="mainContent2">
  <section class="content" id="tableContent">
  <!-- Data Table -->
    <div class="box">
      <div class="box-header">
        <h3 class="box-title"></h3>
      </div>
               
      <div class="box-body">
        <div class="dataTables_wrapper form-inline dt-bootstrap" id="example1_wrapper">
          <div class="row" id="rw">
            <div class="col-sm-4"><div class="dataTables_filter" id="example1_filter" ><label><input class="form-control input-sm" aria-controls="example1" type="search" placeholder="filiter data" [(ngModel)]="term"></label></div></div>
            <div class="col-sm-4" id="addBtn"><div class="dataTables_filter" ></div></div>
            <div class="col-sm-4" id="addBtn3"><div  ><button class="btn btn-primary float-sm-right " tooltip="Register Course" (click)="show()"><i class="fa fa-plus" aria-hidden="true"></i></button></div></div>
          </div>
          <br/>
          <div class="row table-responsive">
            <div class="col-sm-12">
              <table class="table table-bordered table-striped dataTable" id="example1" role="grid" aria-describedby="example1_info">
                <thead>
                  <tr role="row">
                    <th tabindex="0" class="sorting_asc" aria-controls="example1" style="width: 191.88px;" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" rowspan="1" colspan="1">Course Code</th>
                    <th tabindex="0" class="sorting" aria-controls="example1" style="width: 242.68px;" aria-label="Browser: activate to sort column ascending" rowspan="1" colspan="1">Course Title</th>
                    <th tabindex="0" class="sorting" aria-controls="example1" style="width: 223.08px;" aria-label="Platform(s): activate to sort column ascending" rowspan="1" colspan="1">Lecture Hours</th>
                    <th tabindex="0" class="sorting_asc" aria-controls="example1" style="width: 191.88px;" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" rowspan="1" colspan="1">Laboratory Hours</th>
                    <th tabindex="0" class="sorting" aria-controls="example1" style="width: 242.68px;" aria-label="Browser: activate to sort column ascending" rowspan="1" colspan="1">Credit Hours</th>
                    <th tabindex="0" class="sorting" aria-controls="example1" style="width: 223.08px;" aria-label="Platform(s): activate to sort column ascending" rowspan="1" colspan="1">ECTS</th>
                    <th tabindex="0" class="sorting" aria-controls="example1" style="width: 223.08px;" aria-label="Platform(s): activate to sort column ascending" rowspan="1" colspan="1">Actions</th>
                  <!--  <th tabindex="0" class="sorting" aria-controls="example1" style="width: 165.64px;" aria-label="Engine version: activate to sort column ascending" rowspan="1" colspan="1">Operation</th> -->
                  </tr>
                </thead>
                <tbody>
              
                  <tr class="odd" role="row" *ngFor="let course of courses | filter:term | paginate: { 
                    itemsPerPage: pageSize,
                    currentPage: page,
                    totalItems: total }; let i=index">
                    <td class="sorting_1">
                      <a >
                        <span>{{course.code }}</span>
                    
                      </a>

                    </td>
                    <td class="sorting_1">
                      <a >
                        
                        <span >{{course.title }}</span>
                    
                      </a>

                    </td>
                    <td class="sorting_1">
                      <a >
                        
                        <span >{{course.lectureHours }}</span>
                     
                      </a>

                    </td>
                  
                    <td class="sorting_1">
                      <a >
                        
                        <span >{{course.laboratoryHours }}</span>
                      
                      </a>

                    </td>
                    <td class="sorting_1">
                      <a >
                        
                        <span >{{course.creditHours }}</span>
                        
                      </a>

                    </td>
                    <td class="sorting_1">
                      <a >
                        
                        <span >{{course.ECTS}}</span>
                        
                      </a>

                    </td>
                 
                      <td>
                        <!-- <button class="btn btn-default dropdown-toggle"  (click)="toggleFloat(i)">
                          ...
                        </button>
                        <div class="dropdown-menuu"  [hidden]="!expanded[i]">
                          <button class="btn btn-danger" (click)="delete(course)"  id="deleteBtn">
                            <i class="glyphicon glyphicon-trash"></i>
                            </button>
                            
                          <a  *ngIf="course.offered === 0" routerLink="/departmentHead/course-offer/{{ course.code }}" id="offerBtn" class="btn btn-primary2">Offer Course </a>
                          <a   routerLink="/departmentHead/course/edit/{{ course.code }}" id="offerBtn" class="btn btn-primary2">Edit </a>
                        </div> -->
                        <button id="btnGroupDrop1" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                          ⋮⋮⋮
                        </button>
                   
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                          <a *ngIf="course.offered === 0" routerLink="/departmentHead/course-offer/{{ course.code }}" class="dropdown-item">
                            <i class="fa fa-info-circle btnColor"></i> Offer Course
                          </a>
                          <a  routerLink="/departmentHead/course/edit/{{ course.code }}"  class="dropdown-item">
                            <i class="fa fa-edit btnColor"></i> Edit Course
                          </a>
                          <a class="dropdown-item" (click)="delete(course)" >
                            <i class="fa fa-trash btnColor"></i>Delete Course
                          </a>
                        </div>
                      </td>
                        <!--  routerLink="/departmentHead/course/{{ course.id }}" <a routerLink="/staff/{{ department.departmentName }}" id="staffBtn" class="btn btn-primary2">Staff</a> -->
                    <!-- </td> -->
                    
                    
                  </tr>
                </tbody>
              
              </table>
              <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
            </div>
          </div>
        </div>
        <!-- /.box-body -->
      </div>
          
    </div>
  </section>
    <!-- /.content -->
</div>
