
/*#tableContent{
    margin-top:10px;
}*/
@import "~@ng-select/ng-select/themes/material.theme.css";
#deleteBtn{
    margin-top:10px;
}
#offerBtn{
    margin-top:10px;
    margin-bottom: 10px;
}
.btnColor
{
  color: #2A66A7;
}
#mainContent{
    /*margin-top:70px;*/
    /* background-color: aqua; */
    width:70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;


}
.pull-right{
    margin-left:10px;
}
#content{
    margin-left:auto;
    margin-right:auto;
}
#mainContent2{
    /*margin-top:70px;*/
    /* background-color: aqua; */
    width:80%;
    margin-left: auto;
    margin-right: auto;
    

}
#rw{
    /* float:right; */
    /* background-color: aqua; */
    width:96%;
    margin-bottom: 10px;
}
.dropdown-toggle::after {
    display:none;
  }
  
  .dropdown-menu{
    width: fit-content;
    padding: 0%;
    /* margin: 2%; */
  }
  .dropdown-menu>a{
    /* width: 3em; */
    margin: 0.2em;
    margin-left: 0em;
    /* color: #6a9c97; */
    display: block;
  }
  .dropdown-menu>a:hover{
    background-color:#e9ecef;
    /* width: 3em; */
    /* margin: 0.7em;
    margin-left: 1em; */
  }