<app-header2></app-header2>
<div class="container" >
    <div class="box-header ">
        <h3 style="text-align: center;" class="mt-5 mb-3">List of students </h3>
    </div>
    <div class="row table-responsive">    
            <table class="table table-hover">
                <thead>
                    <tr>
                    <th>Number</th>
                    <th>First Name</th>
                    <th>Middle Name</th>
                    <th>Last Name</th>
                    <th>department</th>
                    <th>Id</th>
                    <th>Result</th>
                    </tr>
                </thead>
                <tbody *ngIf="studentsLength > 0">
                   
                    <tr *ngFor="let student of students;let i= index">
                    
                    <td>{{i+1}}</td>
                    <td>{{student.firstName}}</td>
                    <td>{{student.middleName}}</td>
                    <td>{{student.lastName}}</td>
                    <td>{{student.department}}</td>
                    <td>{{student.userId}}</td>
                    
                    <td>
                    <a (click)="edit(student)">
                        
                        <span *ngIf="student!==editStudent"> {{ student.result }}.0</span>
                        
                        <input type="number" *ngIf="student===editStudent" name="result" [(ngModel)]="result"  (keyup.enter)="update(student.id)" value="{{result}}">
                    </a>

                    </td>
                    
                    </tr>
                <!-- (blur)="update(student.id)" -->
                </tbody>
                <tbody  *ngIf="studentsLength == 0">
                    <tr> 
                        <td colspan="7" style="text-align: center;background-color: lightgray;">No Data Availlable</td>
                    </tr>
                </tbody>
            </table>
        </div> 
    

</div>
