#imageContainer{
    width:60%;
    margin-left: auto;
    margin-right: auto;
    /* background-color:red; */
    overflow:hidden;
    box-shadow: 3px 3px white;
}
#logContain{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}
#subBtn{
    margin-left:76px;
    margin-right: auto;
   /* background-color: grey; */
}

#intro-img{
    width: 60%;
    /* float:left; */
    margin-left: auto;
    margin-right: auto;
    /* background-color:red; */
}
#imgg{
    /* width:60%; */
    /* float:left; */
    width: 100%;
    margin-left:auto;
    margin-right: auto;
}

.containerr {
    width: 40%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    /* background-color: red; */
    overflow:hidden;
   
    /* background-color: red; */
   
}
.frontPage{
  width:80%;
}
#homeImg{
  position: relative;
  background: url("/assets/img/back2.png") no-repeat;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  width:99.5%;
  height:500px;
  /* background-color: green; */
}

@media (max-width: 2000px) {
  .containerr {
    width: 50%;
    /* background-color: rosybrown; */
  }
  #homeImg{
    /* width: 60%; */
    background-size: 100% 100%;
    background-color: cyan;
  }
}
  
@media (max-width: 1000px) {
  .containerr {
    width: 60%;
    /* background-color: rosybrown; */
  }
  #homeImg{
    /* width: 60%; */
    background-size: 100% 100%;
    background-color: cyan;
  }
}
  @media (max-width: 800px) {
    .containerr {
      width: 50%;
      /* background-color: rosybrown; */
    }
    #homeImg{
      /* width: 60%; */
      background-size: 100% 100%;
      background-color: green;
    }
  }
  @media (max-width: 700px) {
    .containerr {
      width: 50%;
      /* background-color: rosybrown; */
    }
    #homeImg{
      /* width: 60%; */
      background-size: 100% 100%;
      background-color: red;
    }
  }

  
  @media (max-width: 600px) {
    .containerr {
      width: 50%;
      /* background-color: rosybrown; */
    }
    #homeImg{
      /* width: 60%; */
      background-size: 100% 100%;
      background-color: red;
    }
  }
  @media (max-width: 500px) {
    .containerr {
      width: 50%;
      /* background-color: rosybrown; */
    }
    #homeImg{
      /* width: 60%; */
      background-size: 100% 100%;
      background-color: grey;
    }
  }
  @media (max-width: 400px) {
    .containerr {
      width: 70%;
      /* background-color: rosybrown; */
    }
    #homeImg{
      /* width: 60%; */
      background-size: 100% 100%;
      background-color: grey;
    }
  }
  @media (max-width: 326px) {
    .containerr {
      width: 50%;
      /* background-color: rosybrown; */
    }
    #homeImg{
      /* width: 60%; */
      background-size: 100% 100%;
      background-color: grey;
    }
  }
  @media (max-width: 226px) {
    .containerr {
      width: 50%;
      /* background-color: rosybrown; */
    }
    #homeImg{
      /* width: 60%; */
      background-size: 100% 100%;
      background-color: grey;
    }
  }
  @media (max-width: 180px) {
    .frontPage{
      width:100%;
    }
    .containerr {
      width: 70%;
      /* background-color: rosybrown; */
    }
    #homeImg{
      /* width: 60%; */
      background-size: 100% 100%;
      background-color: grey;
    }
  }
  /* @media (max-width: 1101px) {
    
    #homeImg{
      width:99%;
      background-color: grey;
    }
  } */
  
  /* @media (max-width: 700px) {
    
    #homeImg{
      
      background-color: green;
    }
  } */
 
  @media (min-width: 576px) {
    .containerr {
      max-width: 700px;
    }
   }
  

 
  
  @media (min-width: 768px) {
    .containerr {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .containerr {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .containerr {
      max-width: 1140px;
    }
  }
  
  .containerr-fluid,
  .containerr-xl,
  .containerr-lg,
  .containerr-md,
  .containerr-sm {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
  @media (min-width: 576px) {
    .containerr-sm,
    .containerr {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .containerr-md,
    .containerr-sm,
    .containerr {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .containerr-lg,
    .containerr-md,
    .containerr-sm,
    .containerr {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .containerr-xl,
    .containerr-lg,
    .containerr-md,
    .containerr-sm,
    .containerr {
      max-width: 1140px;
    }
  }