<!-- <app-header></app-header>
<div id="homeImg">
    <div  class="containerr">
        <div class="container frontPage">

            <div  class="row justify-content-center">
                
                <div class="col-md-9">
                    <img src="/assets/img/logo.png" alt="" id="imgg" >
                </div>
            </div>
        </div>
        <div class="container frontPage">
            <div class="row justify-content-center">
                <div class="col-md-9" id="loginn">
                   
                    <form   #loginForm=ngForm (submit)="onSubmit()">
                        
                        <div class="box-body">
                            <div class="alert alert-danger" [hidden]="!error">
                                {{error}}
                            </div>
                                    

                            <div class="form-group row">
                            
                                <div class="col-md-12 input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                    <input type="email" class="form-control" id="email"  name="email"  [(ngModel)]="form.email" placeholder="email"required>
                                </div>
                            </div>


                            <div class="form-group row">
                            
                                <div class="col-md-12 input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                    <input  type="password" class="form-control" id="password" name="password"  [(ngModel)]="form.password" placeholder="password"required >

                                </div>
                            </div>

                                
                            <div class="form-group row ">
                                <div class="col-md-6 input-group" >
                                
                                    <button class="btn btn-primary elementor-icon-box-icon align-center" id="subBtn" type="submit" [disabled]="!loginForm.valid ">
                                        <span class="glyphicon glyphicon-log-in"></span> 
                                            Login
                                    </button>
                                    <circle-progress id="progressBar" *ngIf="showSpinner"
                                        [percent]="100"
                                        [radius]="40"
                                        [outerStrokeWidth]="8"
                                        [innerStrokeWidth]="4"
                                        [outerStrokeColor]="'#78C000'"
                                        [innerStrokeColor]="'#C7E596'"
                                        [animation]="true"
                                        [animationDuration]="40000"
                                    ></circle-progress>
                                    

                                
                                </div>
                            </div>
                        </div>
                                
                </form> 
                    
                </div>
            </div>
            
        </div>
    </div>
</div> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login V3</title>
    <base href="/">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100" style="background-image: url('/assets/img/aauPhoto2.jpg');">
			<div class="wrap-login100">
				<form class="login100-form validate-form" #loginForm=ngForm (submit)="onSubmit()">
                    <div class="alert alert-danger" [hidden]="!error">
                        {{error}}
                    </div>
					<span class="login100-form-logo">
                        <!-- <i class="zmdi zmdi-landscape"></i> -->
                        <img src="/assets/img/aauLogo.png" alt="" id="imgg" >
					</span>

					<span class="login100-form-title p-b-34 p-t-27">
						Log in
					</span>
                    
					<div class="wrap-input100 validate-input" data-validate = "Enter username">
						<input class="input100"  type="email"  id="email"  name="email"  [(ngModel)]="form.email" placeholder="email" required>
						<span class="focus-input100" data-placeholder="&#xf207;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<input class="input100" type="password" id="password" name="password"  [(ngModel)]="form.password" placeholder="password"required>
						<span class="focus-input100" data-placeholder="&#xf191;"></span>
					</div>

					<div class="contact100-form-checkbox">
						<!-- <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me"> -->
						<!-- <label class="label-checkbox100" for="ckb1">
							Remember me
						</label> -->
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn"  type="submit" [disabled]="!loginForm.valid ">
							Login
						</button>
					</div>

					<!-- <div class="text-center p-t-90">
						<a class="txt1" href="/faq">
							FAQ
						</a>
					</div> -->
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	


</body>
</html>

