<app-header2></app-header2>
<div class="container">
    <div class="box-header ">
        <h3 style="text-align: center;" class="mt-5 mb-3">All Registered Courses </h3>
    </div>
    
    <div class="row table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                <th>Number</th>
                <th>Course Code</th>
                <th>Course Title</th>
                <th>Course Module</th>
                <th>Course Credit Hours</th>
                <th>Course ECTS</th>
                <th>Course Result</th>
                <th>Semester</th>
                </tr>
            </thead>
            <tbody>
            
                <tr *ngFor="let course of courses | filter:term | paginate: { 
                    itemsPerPage: pageSize,
                    currentPage: page,
                    totalItems: total };let i=index">
                <td>{{i+1}}</td>
                <td>{{course.code}}</td>
                <td>{{course.title}}</td>
                <td>{{course.module}}</td>
                <td>{{course.creditHours}}</td>
                <td>{{course.ECTS}}</td>
                <td >{{course.result}}</td>
                <td >{{course.semester}}</td>
                </tr>
            
            
            
            </tbody>
        </table>
        <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
    </div>
       
    
</div>
