<app-header2></app-header2>
<div class="content-wrapper" id="mainContent2">
    <section class="content" >
      <div class="row" >
        <div class="col-md-12" id="moduleForm">
          <!-- Horizontal Form -->
          <div class="box " >
            <div class="box-header ">
              <h3 style="text-align: center;" class="mt-5"><b>Module Update</b></h3>
            </div>
            <hr>
            <!-- /.box-header -->
            <!-- form start -->
            <div class="alert alert-success alert-dismissible" [hidden]="!message">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <h4><i class="icon fa fa-check"></i> {{ message }}</h4>
            </div>
            <form class="form-horizontal"  (submit)="onSubmit()" >
              <div class="row"  >
                <div class="col-md-12" >
                    
                    <div class="box ">
                    
                        <div class="box-body">
                          
                          <div class="form-group row">
                            <label for="moduleCode" class="col-sm-4 control-label">module Code</label>
  
                            <div class="col-sm-7">
                              <input type="text" class="form-control" id="moduleCode" name="moduleCode"  [(ngModel)]="form.moduleCode" placeholder="module code">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="moduleTitle" class="col-sm-4 control-label">module Title</label>
  
                            <div class="col-sm-7">
                              <input type="text" class="form-control" id="moduleTitle" name="moduleTitle"  [(ngModel)]="form.moduleTitle" placeholder="module title">
                            </div>
                          </div>
                          
                          <div class="form-group row">
                            <label for="department" class="col-sm-4 control-label">Department</label>
  
                            <div class="col-sm-7">
                              <select class="form-control" name="department"  [(ngModel)]="form.department" id="department">
                                <option value="department.name" *ngFor="let department of departments">{{department.name}}</option>
                                
                                
                              </select>
                            </div>
                          </div>
                          
                         
                        </div>
                      </div>
                   </div>
  
               
              </div>
              <hr>
              <div class="box-footer">
                <!-- <button type="submit" class="btn btn-default pull-right">Cancel</button> -->
                <button type="submit" class="btn btn-primary pull-right">Register</button>
              </div>
            </form>
          </div>
          
        </div>
      </div>
    </section>
  </div>