#mainContent{
	width:80%;
	margin-left: auto;
	margin-right: auto;
}

#mainContent2{
    /*margin-top:70px;*/
    /* background-color: aqua; */
    width:50%;
    margin-left: auto;
    margin-right: auto;

}
.content{
	margin-left:auto;
	margin-right:auto;
}
.pull-right{
	margin-left:10px;
}
.box-title{
    text-align: center;
}