<app-header2></app-header2>
<div class="content-wrapper" id="mainContent2">
  <section class="content" >
    <div class="row" >
      <div class="col-md-10" id="semesterForm">
        <!-- Horizontal Form -->
        <div class="box " [hidden]="!addButton">
          <div class="box-header ">
            <h3 style="text-align: center;" class="mt-5"><b>Semester Registration </b></h3>
          </div>
          <hr>
          <!-- /.box-header -->
          <!-- form start -->
          <div class="alert alert-success alert-dismissible" [hidden]="!message">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h4><i class="icon fa fa-check"></i> {{ message }}</h4>
          </div>
          <form class="form-horizontal"  (submit)="add({semester: semester.value,year:year.value,startedOn: startedOn.value,endedOn:endedOn.value,semesterLoad:semesterLoad.value,registrationStarts: registrationStarts.value,registrationEnds: registrationEnds.value})" >
            <div class="row"  >
              <div class="col-md-6" >
                  <!-- Horizontal Form -->
                  <div class="box ">
                  
                    <!-- /.box-header -->
                    <!-- form start -->
                    
                      <div class="box-body">
                        
                         <div class="form-group row">
                          <label for="semester" class="col-sm-4 control-label">semester</label>

                          <div class="col-sm-7">
                            <input type="number" class="form-control" id="semester" #semester placeholder="semester">
                          </div>
                        </div>
                        
                         <div class="form-group row">
                          <label for="year" class="col-sm-4 control-label">Year</label>

                          <div class="col-sm-7">
                            <select class="form-control" #year id="year">
                              <option value="2020">2020</option>
                              <option value="2019">2019</option>
                              <option value="2018">2018</option>
                              <option value="2017">2017</option>
                              <option value="2016">2016</option>
                              <option value="2015">2015</option>
                              
                            </select>
                          </div>
                        </div>
                        <div class="box-body">
                           <div class="form-group row">
                              <label for="startedOn" class="col-sm-4 control-label">Started On</label>
              
                              <div class="col-sm-7">
                                <input type="date" class="form-control" id="startedOn"  #startedOn placeholder="started on">
                              </div>
                            </div>
                        </div>
                         <div class="form-group row">
                          <label for="endedOn" class="col-sm-4 control-label">Ended On</label>
    
                          <div class="col-sm-7">
                            <input type="date" class="form-control" id="endedOn"  #endedOn placeholder="Ended On">
                          </div>
                        </div>
                         <div class="form-group row">
                          <label for="semesterLoad" class="col-sm-4 control-label">semester Load</label>

                          <div class="col-sm-7">
                            <input type="number" class="form-control" id="semesterLoad" #semesterLoad placeholder="semester load">
                          </div>
                        </div>
                      </div>
                    </div>
              </div>

              <div class="col-md-6" >
                <div class="box">
                 

                    <div class="box-body">
                       <div class="form-group row">
                          <label for="registrationStarts" class="col-sm-4 control-label">Registration Startes On</label>
          
                          <div class="col-sm-7">
                            <input type="date" class="form-control" id="registrationStarts"  #registrationStarts placeholder="startes on">
                          </div>
                        </div>
                    </div>
                     <div class="form-group row">
                      <label for="registrationEnds" class="col-sm-4 control-label">Registration Endes On</label>
        
                      <div class="col-sm-7">
                        <input type="date" class="form-control" id="registrationEnds"  #registrationEnds placeholder="Endes On">
                      </div>
                    </div>

                    <div class="box-body">
                       <div class="form-group row">
                          <label for="gradingStarts" class="col-sm-4 control-label">Grading Startes On</label>
          
                          <div class="col-sm-7">
                            <input type="date" class="form-control" id="gradingStarts"  #gradingStarts placeholder="startes on">
                          </div>
                        </div>
                    </div>
                     <div class="form-group row">
                      <label for="gradingEnds" class="col-sm-4 control-label"> Endes On</label>
        
                      <div class="col-sm-7">
                        <input type="date" class="form-control" id="gradingEnds"  #gradingEnds placeholder="Endes On">
                      </div>
                    </div>
                    
                    
                  <!-- /.box-body -->
                   
                  <!-- /.box-footer -->
                </div>
                
              </div>
             
            </div>
            <hr/>
            <div class="box-footer">
              <!-- <button type="submit" class="btn btn-default pull-right">Cancel</button> -->
              <button type="submit" class="btn btn-primary pull-right" >Register</button>

            </div>
          </form>
        </div>
        
      </div>
    </div>
  </section>
</div>
<hr/>

<div class="content-wrapper" id="mainContent">
  <section class="content" id="tableContent">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title"></h3>
      </div>
          
      <div class="box-body">
        <div class="dataTables_wrapper form-inline dt-bootstrap" id="example1_wrapper">
          <div class="row" id="rw">
            <div class="col-sm-4"><div class="dataTables_filter" id="example1_filter" ><label><input class="form-control input-sm" aria-controls="example1" type="search" placeholder="filiter Data" [(ngModel)]="term"></label></div></div>
            <div class="col-sm-4" id="addBtn"><div class="dataTables_filter" ></div></div>
            <div class="col-sm-4" id="addBtn3"><div  ><button class="btn btn-primary float-sm-right " tooltip="Register Semester" (click)="show()"><i class="fa fa-plus "></i></button></div></div>
          </div>
          <br/>
          <div class="row"><div class="col-sm-12">
            <table class="table table-bordered table-striped dataTable" id="example1" role="grid" aria-describedby="example1_info">
              <thead>
                <tr role="row">
                  <th tabindex="0" class="sorting_asc" aria-controls="example1" style="width: 191.88px;" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" rowspan="1" colspan="1">semester </th>
                  <th tabindex="0" class="sorting" aria-controls="example1" style="width: 242.68px;" aria-label="Browser: activate to sort column ascending" rowspan="1" colspan="1">Year</th>
                  <th tabindex="0" class="sorting" aria-controls="example1" style="width: 223.08px;" aria-label="Platform(s): activate to sort column ascending" rowspan="1" colspan="1">Started on</th>
                  <th tabindex="0" class="sorting_asc" aria-controls="example1" style="width: 191.88px;" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" rowspan="1" colspan="1">Ended On</th>
                  <th tabindex="0" class="sorting" aria-controls="example1" style="width: 223.08px;" aria-label="Platform(s): activate to sort column ascending" rowspan="1" colspan="1">RegistrationStarted on</th>
                  <th tabindex="0" class="sorting_asc" aria-controls="example1" style="width: 191.88px;" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" rowspan="1" colspan="1">RegistrationEnded On</th>
                  <th tabindex="0" class="sorting_asc" aria-controls="example1" style="width: 191.88px;" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" rowspan="1" colspan="1">Semester Load</th>
                  <!--  <th tabindex="0" class="sorting" aria-controls="example1" style="width: 165.64px;" aria-label="Engine version: activate to sort column ascending" rowspan="1" colspan="1">Operation</th> -->
                </tr>
              </thead>
              <tbody>
              
                <tr class="odd" role="row" *ngFor="let semester of Semesters | filter:term">
                  <td class="sorting_1">
                    <a (click)="edit(semester)">
                      
                      <span *ngIf="semester!==editsemester">{{semester.semester }}</span>
                      
                      <input *ngIf="semester ===editsemester" [(ngModel)]="semester.semester" (blur)="updatesemester(semester)" (keyup.enter)="updatesemester(semester)" >
                    </a>

                  </td>
                  <td class="sorting_1">
                    <a (click)="edit(semester)">
                      
                      <span *ngIf="semester!==editsemester">{{semester.year }}</span>
                      
                      <input *ngIf="semester ===editsemester" [(ngModel)]="semester.year" (blur)="updatesemester(semester)" (keyup.enter)="updatesemester(semester)" >
                    </a>

                  </td>
                  <td class="sorting_1">
                    <a (click)="edit(semester)">
                      
                      <span *ngIf="semester!==editsemester">{{semester.startedOn }}</span>
                      
                      <input *ngIf="semester ===editsemester" [(ngModel)]="semester.startedOn" (blur)="updatesemester(semester)" (keyup.enter)="updatesemester(semester)" >
                    </a>

                  </td>
                  
                  <td class="sorting_1">
                    <a (click)="edit(semester)">
                      
                      <span *ngIf="semester!==editsemester">{{semester.endedOn }}</span>
                      
                      <input *ngIf="semester ===editsemester" [(ngModel)]="semester.endedOn " (blur)="updatesemester(semester)" (keyup.enter)="updatesemester(semester)" >
                    </a>

                  </td>
                  <td class="sorting_1">
                    <a (click)="edit(semester)">
                      
                      <span *ngIf="semester!==editsemester">{{semester.registrationStarts}}</span>
                      
                      <input *ngIf="semester ===editsemester" [(ngModel)]="semester.registrationStarts" (blur)="updatesemester(semester)" (keyup.enter)="updatesemester(semester)" >
                    </a>

                  </td>
                  
                  <td class="sorting_1">
                    <a (click)="edit(semester)">
                      
                      <span *ngIf="semester!==editsemester">{{semester.registrationEnds }}</span>
                      
                      <input *ngIf="semester ===editsemester" [(ngModel)]="semester.registrationEnds" (blur)="updatesemester(semester)" (keyup.enter)="updatesemester(semester)" >
                    </a>

                  </td>
                  <td class="sorting_1">
                    <a (click)="edit(semester)">
                      
                      <span *ngIf="semester!==editsemester">{{semester.semesterLoad}}</span>
                      
                      <input *ngIf="semester ===editsemester" [(ngModel)]="semester.semesterLoad" (blur)="updatesemester(semester)" (keyup.enter)="updatesemester(semester)" >
                    </a>

                  </td>
                
                  
                  <td>
                    
                      <!-- <button class="btn btn-danger" (click)="delete(semester)"  id="deleteBtn">
                          Delete
                        </button> -->
                        <button id="btnGroupDrop1" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                          ⋮⋮⋮
                        </button>
                   
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                          <!-- <a  routerLink="/admin/user/{{ user.id }}" class="dropdown-item">
                            <i class="fa fa-info-circle btnColor"></i> User Information
                          </a> -->
                          <!-- <a  routerLink="/departmentHead/program/edit/{{ program.programTitle }}"  class="dropdown-item">
                            <i class="fa fa-edit btnColor"></i> Edit Program
                          </a> -->
                          <a (click)="delete(semester)"  class="dropdown-item">
                            <i class="fa fa-trash btnColor"></i> Delete Semester
                          </a>
                          
                        </div>
                        
                        
                  </td>
                  
                  
                </tr>
              </tbody>
              <tfoot>
              
              </tfoot>
            </table>
          </div>
        </div>
      </div>
      <!-- /.box-body -->
      </div>
    
    </div>
  </section>
</div>

