<app-header2></app-header2>
<div class="content-wrapper" id="mainContent">
  <section class="content">
    <div class="row ">
      <div class="col-md-12" id="userForm">
      <!-- Horizontal Form -->
        <div class="box" [hidden]="!addButton">
          <div class="box-header ">
            <h3 style="text-align: center;" class="mt-5">User Registration Form</h3>
          </div>
          <hr>
 
          <div class="alert alert-success alert-dismissible" [hidden]="!message">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h4><i class="icon fa fa-check"></i> {{ message }}</h4>
          
          </div>
          <div class="alert alert-danger" [hidden]="!error">
            {{error}}
          </div>
          <form class="form-horizontal" [formGroup]="registrationForm" (submit)="onSubmit()" >
            <div class="row"  id="visitorRow">
              <div class="col-md-6" >
                  
                  <div class="box">
                   
                    
                      <div class="box-body">
                        
                        <div class="form-group row">
                          <label for="firstName" class="col-sm-3 control-label">First Name</label>

                          <div class="col-sm-7">
                            <input type="text" class="form-control" id="firstName" formControlName="firstName"  placeholder="First Name" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
                            <div *ngIf=" submitted && f.firstName.errors" class="invalid-feedback">
                              <div *ngIf="f.firstName.errors.required">First Name is required</div>
                            </div>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="middleName" class="col-sm-3 control-label">Middle Name</label>

                          <div class="col-sm-7">
                            <input type="text" class="form-control" id="middleName" formControlName="middleName"  placeholder="Middle Name" [ngClass]="{ 'is-invalid': submitted && f.middleName.errors }">
                            <div *ngIf=" submitted && f.middleName.errors" class="invalid-feedback">
                              <div *ngIf="f.middleName.errors.required">middle Name is required</div>
                            </div>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="lastName" class="col-sm-3 control-label">Last Name</label>

                          <div class="col-sm-7">
                            <input type="text" class="form-control" id="lastName"  formControlName="lastName" placeholder="Last Name" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
                            <div *ngIf=" submitted && f.lastName.errors" class="invalid-feedback">
                              <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                            </div>
                          </div>
                        </div>
                        
                        <div class="form-group row">
                          <label for="department" class="col-sm-3 control-label">Department</label>
                          <!-- <select class="form-control col-sm-7" formControlName="department" [ngClass]="{ 'is-invalid': submitted && f.department.errors }">
                            
                            <option value="computer science">Computer Science</option>
                            <option value="biology">Biology</option>
                            <option value="chemistry">Chemistry</option>
                            <option value="physics">Physics</option>
                            <option value="geology">Geology</option>
                            
                          </select> -->
                          <select class="form-control col-sm-7" formControlName="department" [ngClass]="{ 'is-invalid': submitted && f.department.errors }">
                            <option value="{{ department.name }}" *ngFor="let department of departments">{{department.name}}</option>
                            
                            
                          </select>
                          <div *ngIf=" submitted && f.department.errors" class="invalid-feedback">
                            <div *ngIf="f.department.errors.required">Department is required</div>
                          </div>
                        </div>

                        <div class="form-group row">
                          <label for="userId" class="col-sm-3 control-label" > Id</label>

                          <div class="col-sm-7">
                            <input type="text" class="form-control" id="userId" formControlName="userId"   placeholder="userId" [ngClass]="{ 'is-invalid': submitted && f.userId.errors }">
                            <div *ngIf=" submitted && f.userId.errors" class="invalid-feedback">
                              <div *ngIf="f.userId.errors.required">userId is required</div>
                            </div>
                          </div>
                        </div>

                      </div>
                    
                  </div>
              </div>

                <!-- second div -->

                <div class="col-md-6" >
                  <div class="box">
                    <div class="box-body">
                      <div class="form-group row">
                        <label for="phone" class="col-sm-3 control-label">Primary Phone Number</label>

                        <div class="col-sm-7">
                          <input type="number" class="form-control" id="phone" formControlName="phone"  placeholder="Phone Number" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }">
                          <div *ngIf=" submitted && f.phone.errors" class="invalid-feedback">
                            <div *ngIf="f.phone.errors.required">phone is required</div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="phone2" class="col-sm-3 control-label">Secondary Phone Number</label>

                        <div class="col-sm-7">
                          <input type="number" class="form-control" id="phone2" formControlName="phone2"  placeholder="Phone Number" [ngClass]="{ 'is-invalid': submitted && f.phone2.errors }">
                          <div *ngIf=" submitted && f.phone2.errors" class="invalid-feedback">
                            <div *ngIf="f.phone2.errors.required">phone2 is required</div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="email" class="col-sm-3 control-label" >Email</label>

                        <div class="col-sm-7">
                          <input type="email" class="form-control" id="email" formControlName="email"  placeholder="Email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                          <div *ngIf=" submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">email is required</div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="role" class="col-sm-3 control-label">Role</label>

                        <div class="col-sm-7">
                          <select class="form-control" formControlName="role" [ngClass]="{ 'is-invalid': submitted && f.role.errors }">
                            
                            <option value="Instructor">Instructor</option>
                            <option value="Advisor">Advisor</option>
                            <option value="Department Head">Department Head</option>
                            <option value="Registral Clerk">Registral Clerk</option>
                            <option value="Admin">Admin</option>
                            
                          </select>
                          
                          <div *ngIf=" submitted && f.role.errors" class="invalid-feedback">
                            <div *ngIf="f.role.errors.required">role is required</div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="password" class="col-sm-3 control-label">Password</label>

                        <div class="col-sm-7">
                          <input type="password" class="form-control" id="password" formControlName="password"  placeholder="Password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                          <div *ngIf=" submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">password is required</div>
                          </div>
                        </div>
                      </div>
                      
                     
                    </div>
                    
                  </div>
                 
                  
                </div>
                <hr>
                

            </div>
            <hr>
            <div class="box-footer">
              <!-- <button (click)="clear()" class="btn btn-default pull-right">Cancel</button> -->
              <button type="submit" class="btn btn-primary pull-right">Register</button>
              
            </div>
          </form>
          <button (click)="clear()" class="btn btn-default pull-right">Cancel</button>

        </div>
     
      </div>
    </div>
  </section> 
</div>
<hr>

<!-- Table starts from now on -->
<div class="content-wrapper" id="mainContent2">
  
  <section class="content" id="tableContaint">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title"></h3>
      </div>
          
      <div class="box-body">
        <div class="dataTables_wrapper form-inline dt-bootstrap" id="example1_wrapper">
          <div class="row" id="rw">
            <div class="col-sm-4"><div class="dataTables_filter" id="example1_filter">
              <label>
                Search:
                  <input class="form-control input-sm" aria-controls="example1" type="search" placeholder="" [(ngModel)]="term">
                </label>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="dataTables_filter" id="example1_filter">
              </div>
            </div>
            <div class="col-sm-4">
              <div>
                <button class="btn btn-primary float-sm-right " tooltip="Register User" id="addBtn3" (click)="show()">
                  <i class="fa fa-user-plus" aria-hidden="true"></i> 
                </button>
              </div>
            </div>
          </div>
          <div class="row table-responsive">
            <div class="col-sm-12">
              <table class="table table-bordered table-striped dataTable" id="example1" role="grid" aria-describedby="example1_info">
                <thead>
                  <tr role="row">
                    <th style="width: 200.08px;" rowspan="1" colspan="1">First Name</th>
                    <th  style="width: 200.08px;" rowspan="1" colspan="1">Middle Name</th>
                    <th  style="width: 200.88px;" rowspan="1" colspan="1">Last Name</th>
                    <th  style="width: 200.88px;"  rowspan="1" colspan="1">Department</th>
                    <th  style="width: 200.68px;"  rowspan="1" colspan="1">Phone</th>
                    <th  style="width: 200.08px;"  rowspan="1" colspan="1">Email</th>
                    <th style="width: 200.08px;">User Password</th>
                    <th style="width: 200.08px;">User Id</th>
                    <th style="width: 200.08px;">User Type</th>
                  
                  </tr>
                </thead>
                <tbody>
                
                  <tr class="odd" role="row" *ngFor="let user of users| filter:term | paginate: { 
                  itemsPerPage: pageSize,
                  currentPage: page,
                  totalItems: total };let i=index">
                    <td class="sorting_1">
                      <a (click)="edit(user)">
                        <span *ngIf="user!==editUser">{{user.firstName }}</span>
                        <input *ngIf="user ===editUser" [(ngModel)]="user.firstName" (blur)="update(user)" (keyup.enter)="update(user)" >
                      </a>
                    </td>

                    <td class="sorting_1">
                      <a (click)="edit(user)">
                        <span *ngIf="user!==editUser">{{user.middleName }}</span>
                        <input *ngIf="user ===editUser" [(ngModel)]="user.middleName" (blur)="update(user)" (keyup.enter)="update(user)" >
                      </a>
                    </td>

                    <td class="sorting_1">
                      <a (click)="edit(user)">
                        <span *ngIf="user!==editUser">{{user.lastName }}</span>
                        <input *ngIf="user ===editUser" [(ngModel)]="user.lastName" (blur)="update(user)" (keyup.enter)="update(user)" >
                      </a>
                    </td>
                    
                    <td class="sorting_1">
                      <a (click)="edit(user)">
                        <span *ngIf="user!==editUser">{{user.department }}</span>
                        <input *ngIf="user ===editUser" [(ngModel)]="user.department" (blur)="update(user)" (keyup.enter)="update(user)" >
                      </a>
                    </td>

                    <td class="sorting_1">
                      <a (click)="edit(user)">
                        <span *ngIf="user!==editUser">{{user.primaryPhoneNumber}}</span>
                        <input *ngIf="user ===editUser" [(ngModel)]="user.primaryPhoneNumber" (blur)="update(user)" (keyup.enter)="update(user)" >
                      </a>
                    </td>

                    <td class="sorting_1">
                      <a (click)="edit(user)">
                        <span *ngIf="user!==editUser">{{user.email}}</span>
                        <input *ngIf="user ===editUser" [(ngModel)]="user.email" (blur)="update(user)" (keyup.enter)="update(user)" >
                      </a>
                    </td>

                    <td class="sorting_1">
                      <a (click)="edit(user)">
                        <span *ngIf="user!==editUser">{{user.password}}</span>
                        <input *ngIf="user ===editUser" [(ngModel)]="user.password" (blur)="update(user)" (keyup.enter)="update(user)" >
                      </a>
                    </td>

                    <td class="sorting_1">
                      <a (click)="edit(user)">
                        <span *ngIf="user!==editUser">{{user.userId}}</span>
                        <input *ngIf="user ===editUser" [(ngModel)]="user.userId" (blur)="update(user)" (keyup.enter)="update(user)" >
                      </a>
                    </td>

                    <td class="sorting_1">
                      <a (click)="edit(user)">
                        <span *ngIf="user!==editUser">{{user.userType}}</span>
                        <input *ngIf="user ===editUser" [(ngModel)]="user.userType" (blur)="update(user)" (keyup.enter)="update(user)" >
                      </a>
                    </td>
                    <td>
                   
                      <button id="btnGroupDrop1" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        ⋮⋮⋮
                      </button>
                 
                      <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <a  routerLink="/admin/user/{{ user.id }}" class="dropdown-item">
                          <i class="fa fa-info-circle btnColor"></i> User Information
                        </a>
                        <a  routerLink="/admin/user/edit/{{ user.id }}"  class="dropdown-item">
                          <i class="fa fa-edit btnColor"></i> Edit User
                        </a>
                        <a class="dropdown-item" (click)="delete(user)" >
                          <i class="fa fa-trash btnColor"></i>Delete User
                        </a>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
    <!-- /.content -->
</div>


