#mainContent{
    /*margin-top:70px;*/
    /* background-color: aqua; */
    width:75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;


}
#mainContent2{
    /*margin-top:70px;*/
    /* background-color: aqua; */
    width:90%;
    margin-left: auto;
    margin-right: auto;
    

}
#rw{
	
	width:100%;
}
#userForm{
    width:90%;
    margin:auto;
    
  
}
.btnColor
{
  color: #2A66A7;
}
.dropdown-toggle::after {
    display:none;
  }
  
  .dropdown-menu{
    width: fit-content;
    padding: 0%;
    /* margin: 2%; */
  }
  .dropdown-menu>a{
    /* width: 3em; */
    margin: 0.2em;
    margin-left: 0em;
    /* color: #6a9c97; */
    display: block;
  }
  .dropdown-menu>a:hover{
    background-color:#e9ecef;
    /* width: 3em; */
    /* margin: 0.7em;
    margin-left: 1em; */
  }

#deleteBtn{
    margin:5px;
}
#offerBtn{
    margin:5px;
}
#editBtn{
    margin:5px;
    color:white;
}
#progressBar{
    margin-left:auto;
    margin-right:auto;
}