<app-header2></app-header2>
<div class="content-wrapper" id="mainContent2">
  <section class="content">
    <div class="row" >
      <div class="col-md-12" id="gradeForm">
        <div  [hidden]="!addButton">
          <div class="box-header ">
            <h3 *ngIf="this.updatting == false" style="text-align: center;" class="mt-5"><b>Register  Grade </b></h3>
            <h3 *ngIf="this.updatting == true" style="text-align: center;" class="mt-5"><b>Edit  Grade </b></h3>
          </div>
          <hr>
          <div class="alert alert-success alert-dismissible" [hidden]="!message">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h4><i class="icon fa fa-check"></i> {{ message }}</h4>
            
          </div>
          <div class="alert alert-error alert-dismissible" [hidden]="!error">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h4><i class="icon fa fa-check"></i> {{ error }}</h4>
            
          </div>
          <!-- (submit)="add({code: code.value,title: title.value,lectureHours: lectureHours.value,ECTS: ects.value,laboratoryHours: laboratoryHours.value,creditHours: creditHours.value,requisite:requisite.value,module: module.value })" -->
          <form class="form-horizontal" #loginForm=ngForm    >
            <div class="row"  >
              <div class="col-md-12" >
                <div class="box ">
                  <div class="box-body">
                    <div class="form-group row">
                      <label for="name" class="col-sm-3 control-label">Name</label>

                      <div class="col-sm-7">
                        <input type="text" class="form-control" id="name" name="name" [(ngModel)]="form.name"  placeholder="Garde Name">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="value" class="col-sm-3 control-label">Value</label>

                      <div class="col-sm-7">
                        <input type="number" class="form-control" id="value" name="value" [(ngModel)]="form.value"   placeholder="Grade Value">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="minValue" class="col-sm-3 control-label">Minimum Value</label>

                      <div class="col-sm-7">
                        <input type="number" class="form-control" id="minValue"  name="minValue" [(ngModel)]="form.minValue"  placeholder="Minimum Value">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="maxValue" class="col-sm-3 control-label">Maximum Value</label>

                      <div class="col-sm-7">
                        <input type="number" class="form-control" id="maxValue"  name="laboratoryHours" [(ngModel)]="form.maxValue"  placeholder="Maximum Value">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="status" class="col-sm-3 control-label">Status</label>
      
                      <div class="col-sm-7">
                        <input type="text" class="form-control" id="status"  name="status" [(ngModel)]="form.status"  placeholder="Status">
                      </div>
                  </div>
                  
                  </div>
                </div>
              </div>
 
            </div>
            <hr/>
            <div class="box-footer">
              <!-- <button type="submit" class="btn btn-default pull-right">Cancel</button> -->
              <button (click)="onSubmit()" *ngIf="this.updatting == false" class="btn btn-primary pull-right">Register</button>
              <button (click)="onSubmitEdited()" *ngIf="this.updatting == true" class="btn btn-primary pull-right">Edit</button>
            </div>
          </form>
        </div>
     
      </div>

    </div>
  </section>
    
</div>
<hr/>

<div class="content-wrapper" id="mainContent">
  <section class="content" id="tableContent">
  <!-- Data Table -->
    <div class="box">
      <div class="box-header">
        <h3 class="box-title"></h3>
      </div>
               
      <div class="box-body">
        <div class="dataTables_wrapper form-inline dt-bootstrap" id="example1_wrapper">
          <div class="row" id="rw">
            <div class="col-sm-4"><div class="dataTables_filter" id="example1_filter" ><label><input class="form-control input-sm" aria-controls="example1" type="search" placeholder="filiter data" [(ngModel)]="term"></label></div></div>
            <div class="col-sm-4" id="addBtn"><div class="dataTables_filter" ></div></div>
            <div class="col-sm-4" id="addBtn3"><div  ><button class="btn btn-primary float-sm-right " tooltip="Register Grade" (click)="show()"><i class="fa fa-plus" aria-hidden="true"></i></button></div></div>
          </div>
          <br/>
          <div class="row table-responsive">
            <div class="col-sm-12">
              <table class="table table-bordered table-striped dataTable" id="example1" role="grid" aria-describedby="example1_info">
                <thead>
                  <tr role="row">
                    <th tabindex="0" class="sorting_asc" aria-controls="example1" style="width: 191.88px;" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" rowspan="1" colspan="1">Name</th>
                    <th tabindex="0" class="sorting" aria-controls="example1" style="width: 242.68px;" aria-label="Browser: activate to sort column ascending" rowspan="1" colspan="1">Value</th>
                    <th tabindex="0" class="sorting" aria-controls="example1" style="width: 223.08px;" aria-label="Platform(s): activate to sort column ascending" rowspan="1" colspan="1">Minimum value</th>
                    <th tabindex="0" class="sorting_asc" aria-controls="example1" style="width: 191.88px;" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" rowspan="1" colspan="1">Maximum value</th>
                    <th tabindex="0" class="sorting" aria-controls="example1" style="width: 242.68px;" aria-label="Browser: activate to sort column ascending" rowspan="1" colspan="1">Status</th>
                    
                  </tr>
                </thead>
                <tbody>
              
                  <tr class="odd" role="row" *ngFor="let grade of grades | filter:term | paginate: { 
                    itemsPerPage: pageSize,
                    currentPage: page,
                    totalItems: total }; let i=index">
                    <td class="sorting_1">
                      <a (click)="edit(grade)">
                        
                        <span *ngIf="grade!==editgrade">{{grade.name }}</span>
                        
                        <input *ngIf="grade ===editgrade" [(ngModel)]="grade.name" (blur)="updategrade(grade)" (keyup.enter)="updategrade(grade)" >
                      </a>

                    </td>
                    <td class="sorting_1">
                      <a (click)="edit(grade)">
                        
                        <span *ngIf="grade!==editgrade">{{grade.value }}</span>
                        
                        <input *ngIf="grade ===editgrade" [(ngModel)]="grade.value" (blur)="updategrade(grade)" (keyup.enter)="updategrade(grade)" >
                      </a>

                    </td>
                    <td class="sorting_1">
                      <a (click)="edit(grade)">
                        
                        <span *ngIf="grade!==editgrade">{{grade.minValue }}</span>
                        
                        <input *ngIf="grade ===editgrade" [(ngModel)]="grade.minValue" (blur)="updategrade(grade)" (keyup.enter)="updategrade(grade)" >
                      </a>

                    </td>
                  
                    <td class="sorting_1">
                      <a (click)="edit(grade)">
                        
                        <span *ngIf="grade!==editgrade">{{grade.maxValue }}</span>
                        
                        <input *ngIf="grade ===editgrade" [(ngModel)]="grade.maxvalue" (blur)="updategrade(grade)" (keyup.enter)="updategrade(grade)" >
                      </a>

                    </td>
                    <td class="sorting_1">
                      <a (click)="edit(grade)">
                        
                        <span *ngIf="grade!==editgrade">{{grade.status }}</span>
                        
                        <input *ngIf="grade ===editgrade" [(ngModel)]="grade.status" (blur)="updategrade(grade)" (keyup.enter)="updategrade(grade)" >
                      </a>

                    </td>
                   
                 
                      <td>
                        <!-- <button class="btn btn-default dropdown-toggle"  (click)="toggleFloat(i)">
                          ...
                        </button>
                        <div class="dropdown-menuu"  [hidden]="!expanded[i]">
                          <button class="btn btn-danger" (click)="delete(grade)"  id="deleteBtn">
                            <i class="glyphicon glyphicon-trash"></i>
                            </button>
                            <button class="btn btn-primary" (click)="edit(grade)"  id="deleteBtn">
                               Edit
                              </button>
                            
                          
                        </div> -->

                        <button id="btnGroupDrop1" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                          ⋮⋮⋮
                        </button>
                   
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                          <!-- <a routerLink="/departmentHead/course/Offering/{{ course.id }}"  class="dropdown-item">
                            <i class="fa fa-info-circle btnColor"></i> Detail
                          </a> -->
                          <!-- <a   *ngIf="course.assignedInstructor == false" routerLink="/departmentHead/course/{{ course.id }}/instructors" class="dropdown-item">
                            <i class="fa fa-edit btnColor"></i> Assign Instructor
                          </a> -->
                          <a   (click)="edit(grade)"  class="dropdown-item">
                            <i class="fa fa-edit btnColor"></i> Edit Grade
                          </a>
                          <a class="dropdown-item" (click)="delete(grade)" >
                            <i class="fa fa-trash btnColor"></i>Delete Grade
                          </a>
                        </div>
                      </td>
                     
                  </tr>
                </tbody>
              
              </table>
              <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
            </div>
          </div>
        </div>
        <!-- /.box-body -->
      </div>
          
    </div>
  </section>
    <!-- /.content -->
</div>