<app-header2></app-header2>
<div class="content-wrapper" id="mainContent">
  <section class="content">
    <div class="row table-responsive" >
      <div class="col-md-12" id="userForm">
        <div class="box" [hidden]="!addButton">
          <div class="box-header ">
            
            <h3 style="text-align: center;" class="mt-5">Course Offering Registration </h3>
          </div>
          <hr/>
          
          <form class="form-horizontal"  (submit)="add()" >
            <div class="row"  id="courseForm">
              <div class="col-md-12" >
                <div class="box ">
                    <div class="box-body">
                        
                      <div class="form-group row">
                        <label for="id" class="col-sm-4 control-label">Course Id</label>

                        <div class="col-sm-8">
                          <input type="text" class="form-control" id="id" #id  name="course" placeholder="Course Id" [(ngModel)]="offeringForm.course" >
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="semester" class="col-sm-4 control-label">semester</label>

                        <div class="col-sm-8">
                          <select class="form-control" name="semester" id="semester" [(ngModel)]="offeringForm.semester" >
                            
                            <option  *ngFor="let semester of semesters" value='{"semester": {{semester.semester}},"AcadamicYear":{{semester.year}}}'>{{semester.semester}} of {{semester.year}}</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="year" class="col-sm-4 control-label">Year_of_Students</label>

                        <div class="col-sm-8">
                          <!-- <input type="number" class="form-control" id="year"  #year placeholder="year"> -->
                          <select class="form-control"  name="year" [(ngModel)]="offeringForm.year"  id="year" >
                            <option value="1" selected>Year 1</option>
                            <option value="2">Year 2</option>
                            <option value="3">Year 3</option>
                            <option value="4">Year 4</option>
                         
                          </select>
                        </div>
                      </div>
                     
                    </div>
                </div>
              </div>

            </div>
            <hr/>
            <div class="box-footer">
              <!-- <button type="submit" class="btn btn-default pull-right">Cancel</button> -->
              <button type="submit" class="btn btn-primary pull-right">Register</button>
           </div>
            </form>
        </div>
      </div>
    </div>
  </section>
</div>
<hr/>

<div class="content-wrapper" id="mainContent2">
  <section >
  
    <div class="box-body">
      <div class="dataTables_wrapper form-inline dt-bootstrap" id="example1_wrapper">
        <div class="row" id="rw">
          <div class="col-sm-4"><div class="dataTables_filter" id="example1_filter"><label><input class="form-control input-sm" aria-controls="example1" type="search" placeholder="Filiter data" [(ngModel)]="term"></label></div></div>
          <div class="col-sm-2"><div class="dataTables_filter" id="example1_filter"></div></div>
          <div class="col-sm-4" id="addBtn3">
            <div>
              <button class="btn btn-primary float-sm-right " tooltip="offer course" (click)="show()">
                <i class="fa fa-plus" aria-hidden="true"></i> 
              </button>
            </div>
          </div>
        </div>
        <div class="row">
          <div >
            <table class="table table-bordered table-striped dataTable"  role="grid" >
              <thead>
                <tr role="row">
                  <th tabindex="0" class="sorting_asc" aria-controls="example1" style="width: 300.88px;" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" rowspan="1" colspan="1">Course Id</th>
                  <th tabindex="0" class="sorting" aria-controls="example1" style="width: 300.68px;" aria-label="Browser: activate to sort column ascending" rowspan="1" colspan="1">Semester</th>
                  <th tabindex="0" class="sorting" aria-controls="example1" style="width: 300.08px;" aria-label="Platform(s): activate to sort column ascending" rowspan="1" colspan="1">Year</th>
                  <th tabindex="0" class="sorting_asc" aria-controls="example1" style="width: 191.88px;" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" rowspan="1" colspan="1">Acadamic Year</th>
                  <th tabindex="0" class="sorting" aria-controls="example1" style="width: 300.68px;" aria-label="Browser: activate to sort column ascending" rowspan="1" colspan="1"></th>
                  <!-- <th tabindex="0" class="sorting" aria-controls="example1" style="width: 223.08px;" aria-label="Platform(s): activate to sort column ascending" rowspan="1" colspan="1">ECTS</th> -->
                  <!--  <th tabindex="0" class="sorting" aria-controls="example1" style="width: 165.64px;" aria-label="Engine version: activate to sort column ascending" rowspan="1" colspan="1">Operation</th> -->
                </tr>
              </thead>
              <tbody>
                <tr class="odd" role="row" *ngFor="let course of offering | filter:term | paginate: { 
                  itemsPerPage: pageSize,
                  currentPage: page,
                  totalItems: total }; let i=index">
                  <td class="sorting_1">
                    <a (click)="edit(course)">
                      
                      <span *ngIf="course!==editCourse">{{course.course }}</span>
                      
                      <input *ngIf="course ===editCourse" [(ngModel)]="course.course" (blur)="updateCourse(course)" (keyup.enter)="updateCourse(course)" >
                    </a>
  
                  </td>
                  <td class="sorting_1">
                    <a (click)="edit(course)">
                      
                      <span *ngIf="course!==editCourse">{{course.semester }}</span>
                      
                      <input *ngIf="course ===editCourse" [(ngModel)]="course.semester" (blur)="updateCourse(course)" (keyup.enter)="updateCourse(course)" >
                    </a>
  
                  </td>
                  <td class="sorting_1">
                    <a (click)="edit(course)">
                      
                      <span *ngIf="course!==editCourse">{{course.year }}</span>
                      
                      <input *ngIf="course ===editCourse" [(ngModel)]="course.year" (blur)="updateCourse(course)" (keyup.enter)="updateCourse(course)" >
                    </a>
  
                  </td>
                  <td class="sorting_1">
                    <a (click)="edit(course)">
                      {{course.AcadamicYear }}
                      
                    </a>
  
                  </td>
                  <!-- <td class="sorting_1">
                    <a (click)="edit(course)">
                      
                      <span *ngIf="course!==editCourse">{{course.year }}</span>
                      
                      <input *ngIf="course ===editCourse" [(ngModel)]="course.year" (blur)="updateCourse(course)" (keyup.enter)="updateCourse(course)" >
                    </a>
  
                  </td> -->
                  <td>
                    <!-- <button class="btn btn-primary2" (click)="toggleFloat(i)">Actions</button>
                    <div [hidden]="!expanded[i]">
                      <button class="btn btn-danger" (click)="delete(course)"  id="deleteBtn">
                          Delete
                        </button>
                       
                        
                        <a  routerLink="/departmentHead/course/{{ course.id }}/instructors" id="offerBtn" class="btn btn-primary2">Assign Instructor </a>
                        <a  routerLink="/departmentHead/course/Offering/{{ course.id }}" id="offerBtn" class="btn btn-primary2">Course Offeing Detail </a>
                    </div> -->
                    
                    <button id="btnGroupDrop1" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      ⋮⋮⋮
                    </button>
               
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                      <!-- <a routerLink="/departmentHead/course/Offering/{{ course.id }}"  class="dropdown-item">
                        <i class="fa fa-info-circle btnColor"></i> Detail
                      </a> -->
                      <a   *ngIf="course.assignedInstructor == false" routerLink="/departmentHead/course/{{ course.id }}/instructors" class="dropdown-item">
                        <i class="fa fa-edit btnColor"></i> Assign Instructor
                      </a>
                      <a   *ngIf="course.assignedInstructor == true" tooltip="This course has been assigned to an instructor." class="dropdown-item">
                        <i class="fa fa-edit btnColor"></i> Assign Instructor
                      </a>
                      <a class="dropdown-item" (click)="delete(course)" >
                        <i class="fa fa-trash btnColor"></i>Delete Course Offering
                      </a>
                    </div>
                      <!-- <a routerLink="/staff/{{ department.departmentName }}" id="staffBtn" class="btn btn-primary2">Staff</a> -->
                  </td>
                  
                  
                </tr>
              </tbody>
              <tfoot>
              
              </tfoot>
            </table>
            <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  
  </section>
</div>

