
<!-- <app-header></app-header> -->
<!-- <app-header2></app-header2> -->

<router-outlet></router-outlet>
<notifier-container></notifier-container>


<!-- <app-student-course></app-student-course> -->