<app-header2></app-header2>

<!-- <div class="container">
    <div class="mainChatBotContainer">
        <div  class="chatBotContainer" #scrollMe [scrollTop]="scrollMe.scrollHeight" >
            <span style="color:black" *ngFor="let data of datas ">
                <br/>
                <div  *ngIf="data.role == 'user'" class=" row" style="float:left">
                    <i class="fa fa-user btnColor col-md-2"></i>
                    <h6 class="mt-3 mb-3 col-md-9 borderedBox " >  <span  [innerText]="data.display"></span> </h6>
                
                </div>
              
                <div  *ngIf="data.role == 'prolog'" style="float:right" class="row">
                    <h6 class="col-md-9 borderedBox2" > <span [innerText]="data.display">{{data.display}}</span> </h6>
                    <i class="fa fa-desktop btnColor col-md-2"></i>
                </div>
                <br/>
                </span>
           
    
        </div>
        <hr/>
        <input type="text" class="form-control" [(ngModel)]="Question"><button (click)="onSubmit()" class="btn btn-primary">Ask</button>

    </div>
    

</div> -->
<div class="container-fluid h-100">
    <div class="row justify-content-center h-100">
        
        <div class="col-md-12 col-xl-9 chat">
            <div class="card">
                <div class="card-header msg_head">
                    <div class="d-flex bd-highlight">
                        <div class="img_cont">
                            <img src="https://www.flaticon.com/premium-icon/icons/svg/1463/1463439.svg" class="rounded-circle user_img">
                            <span class="online_icon"></span>
                        </div>
                        <div class="user_info">
                            <span>Ask  Your Advisor</span>
                           
                        </div>
                        
                    </div>
                   
                </div>
                <div class="card-body msg_card_body" #scrollMe [scrollTop]="scrollMe.scrollHeight">
                   <div *ngFor="let data of datas ">
                    <div *ngIf="data.role == 'user'" class="d-flex justify-content-start mb-4">
                        <div class="img_cont_msg">
                            <img src="https://www.flaticon.com/svg/static/icons/svg/201/201818.svg" class="rounded-circle user_img_msg">
                        </div>
                        <div class="msg_cotainer">
                            <h6 [innerText]="data.display"></h6>
                            <span class="msg_time">8:40 AM, Today</span>
                        </div>
                    </div>
                    <div *ngIf="data.role == 'prolog'" class="d-flex justify-content-end mb-4">
                        <div class="msg_cotainer_send">
                             <h6 [innerText]="data.display"></h6>
                            <span class="msg_time_send">8:55 AM, Today</span>
                        </div>
                        <div class="img_cont_msg">
                           <img src="https://www.flaticon.com/premium-icon/icons/svg/1463/1463439.svg" class="rounded-circle user_img_msg">
                        </div>
                    </div>

                   </div>
                    
                  
                </div>
                <div class="card-footer">
                    <div class="input-group">
                        <div class="input-group-append">
                            <span class="input-group-text attach_btn"><i class="fa fa-paperclip"></i></span>
                        </div>
                        <textarea [(ngModel)]="Question" class="form-control type_msg" placeholder="Type your message..."></textarea>
                       
                        <div class="input-group-append">
                            <!-- <span class="input-group-text send_btn"><i class="fa fa-location-arrow"></i></span> -->
                            <span class="input-group-text send_btn"><button class=" msg_send_btn" type="button" (click)="onSubmit()" tooltip="Ask"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button></span>
                            
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>

