<p>course-detail works!</p>
<p><b>Course Code</b>: {{ courses.code}}</p>
<p><b>Course title</b>: {{ courses.title}}</p>
<p><b>Course lectureHours</b>: {{ courses.lectureHours}}</p>
<p><b>Course laboratoryHours</b>: {{ courses.laboratoryHours}}</p>
<p><b>Course creditHours</b>: {{ courses.creditHours}}</p>
<p><b>Course ECTS</b>: {{ courses.ECTS}}</p>
<p><b>Course requisite</b>: {{ courses.requisite}}</p>
<p><b>Course module</b>: {{ courses.module}}</p>
<p *ngIf="course.offered === 0"><b>Course Offering</b>: The course s not offered</p>
