/* #tableBody{
    margin-top:100px;
} */
#deleteBtn{
	margin-top:10px;
}
#instructorBtn{
	margin-top:5px;
	margin-bottom:5px;
}
.dropdown-toggle::after {
    display:none;
  }
  
  .dropdown-menu{
    width: fit-content;
    padding: 0%;
    /* margin: 2%; */
  }
  .dropdown-menu>a{
    /* width: 3em; */
    margin: 0.2em;
    margin-left: 0em;
    /* color: #6a9c97; */
    display: block;
  }
  .dropdown-menu>a:hover{
    background-color:#e9ecef;
    /* width: 3em; */
    /* margin: 0.7em;
    margin-left: 1em; */
  }