#mainContent{
	width:80%;
	margin-left: auto;
	margin-right: auto;
}

#mainContent2{
    /*margin-top:70px;*/
    /* background-color: aqua; */
    width:40%;
    margin-left: auto;
    margin-right: auto;

}
.content{
	margin-left:auto;
	margin-right:auto;
}
.pull-right{
	margin-left:10px;
}
.box-title{
    text-align: center;
}
.dropdown-toggle::after {
    display:none;
  }
  
  .dropdown-menu{
    width: fit-content;
    padding: 0%;
    /* margin: 2%; */
  }
  .dropdown-menu>a{
    /* width: 3em; */
    margin: 0.2em;
    margin-left: 0em;
    /* color: #6a9c97; */
    display: block;
  }
  .dropdown-menu>a:hover{
    background-color:#e9ecef;
    /* width: 3em; */
    /* margin: 0.7em;
    margin-left: 1em; */
  }