<app-header2></app-header2>
<div class="content-wrapper" id="mainContent2">
    <section class="content" >
      <div class="row" >
        <div class="col-md-12" id="moduleForm">
          <!-- Horizontal Form -->
          <div class="box " [hidden]="!addButton">
            <div class="box-header ">
              <h3 style="text-align: center;" class="mt-5">Module Registration </h3>
            </div>
            <hr>
            <!-- /.box-header -->
            <!-- form start -->
            <div class="alert alert-success alert-dismissible" [hidden]="!message">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <h4><i class="icon fa fa-check"></i> {{ message }}</h4>
            </div>
            <form class="form-horizontal"  (submit)="add({moduleCode: moduleCode.value,moduleTitle:moduleTitle.value,department: department.value})" >
              <div class="row"  >
                <div class="col-md-12" >
                    
                    <div class="box ">
                    
                        <div class="box-body">
                          
                          <div class="form-group row">
                            <label for="moduleCode" class="col-sm-4 control-label">module Code</label>
  
                            <div class="col-sm-8">
                              <input type="text" class="form-control" id="moduleCode" #moduleCode placeholder="module code">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="moduleTitle" class="col-sm-4 control-label">module Title</label>
  
                            <div class="col-sm-8">
                              <input type="text" class="form-control" id="moduleTitle" #moduleTitle placeholder="module title">
                            </div>
                          </div>
                          
                          <div class="form-group row">
                            <label for="department" class="col-sm-4 control-label">Department</label>
  
                            <div class="col-sm-8">
                              <select class="form-control" #department id="department">
                                <option value="department.name" *ngFor="let department of departments">{{department.name}}</option>
                                
                                
                              </select>
                            </div>
                          </div>
                         
                         
                        </div>
                      </div>
                   </div>
  
               
               </div>
               <hr/>
               <div class="box-footer">
                <!-- <button type="submit" class="btn btn-default pull-right">Cancel</button> -->
                <button type="submit" class="btn btn-primary pull-right">Register</button>
              </div>
            </form>
          </div>
          
        </div>
      </div>
    </section>
  </div>
  <hr/>

  <div class="content-wrapper" id="mainContent">
    <section >
      <div class="box">
        <div class="box-header">
          <h3 class="box-title"></h3>
        </div>
            
        <div class="box-body">
          <div class="dataTables" >
            <div class="row table-responsive" id="rw">
              <div class="col-sm-4"><div class="dataTables_filter" id="example1_filter" ><label><input class="form-control input-sm" aria-controls="example1" type="search" placeholder="filiter Data" [(ngModel)]="term"></label></div></div>
              <div class="col-sm-4" id="addBtn"><div class="dataTables_filter" ></div></div>
              <div class="col-sm-4" id="addBtn3"><div  ><button class="btn btn-primary float-sm-right " tooltip="Register Module" (click)="show()"> <i class="fa fa-plus" aria-hidden="true"></i></button></div></div>
            </div>
            <br/>
            <div class="row table-responsive">
             <div class="col-sm-12">
              <table class="table table-bordered table-striped dataTable" id="example1" role="grid" aria-describedby="example1_info">
                <thead>
                  <tr role="row">
                    <th tabindex="0" class="sorting_asc" aria-controls="example1"  aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" rowspan="1" colspan="1">module </th>
                    <th tabindex="0" class="sorting" aria-controls="example1" aria-label="Browser: activate to sort column ascending" rowspan="1" colspan="1">title</th>
                    <th tabindex="0" class="sorting" aria-controls="example1"  aria-label="Platform(s): activate to sort column ascending" rowspan="1" colspan="1">department</th>
                  
                    <!--  <th tabindex="0" class="sorting" aria-controls="example1" style="width: 165.64px;" aria-label="Engine version: activate to sort column ascending" rowspan="1" colspan="1">Operation</th> -->
                  </tr>
                </thead>
                <tbody>
                
                  <tr class="odd" role="row" *ngFor="let module of modules | filter:term | paginate: { 
                    itemsPerPage: pageSize,
                    currentPage: page,
                    totalItems: total };let i=index">
                    <td class="sorting_1">
                      <a (click)="edit(module)">
                        
                        <span *ngIf="module!==editmodule">{{module.moduleCode }}</span>
                        
                        <input *ngIf="module ===editmodule" [(ngModel)]="module.module" (blur)="updatemodule(module)" (keyup.enter)="updatemodule(module)" >
                      </a>
  
                    </td>
                    <td class="sorting_1">
                      <a (click)="edit(module)">
                        
                        <span *ngIf="module!==editmodule">{{module.moduleTitle }}</span>
                        
                        <input *ngIf="module ===editmodule" [(ngModel)]="module.year" (blur)="updatemodule(module)" (keyup.enter)="updatemodule(module)" >
                      </a>
  
                    </td>
                    <td class="sorting_1">
                      <a (click)="edit(module)">
                        
                        <span *ngIf="module!==editmodule">{{module.department }}</span>
                        
                        <input *ngIf="module ===editmodule" [(ngModel)]="module.startedOn" (blur)="updatemodule(module)" (keyup.enter)="updatemodule(module)" >
                      </a>
  
                    </td>
                    
                   
                  
                    
                    <td>
                      
                        <!-- <button class="btn btn-danger" (click)="delete(module)"  id="deleteBtn">
                            Delete
                          </button>


                          <button class="btn btn-primary2" routerLink="/departmentHead/module/edit/{{  module.moduleCode }}" (click)="delete(module)"  id="deleteBtn">
                            Edit
                          </button> -->
                          <button id="btnGroupDrop1" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            ⋮⋮⋮
                          </button>
                     
                          <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                            <!-- <a  routerLink="/admin/user/{{ user.id }}" class="dropdown-item">
                              <i class="fa fa-info-circle btnColor"></i> User Information
                            </a> -->
                            <a  routerLink="/departmentHead/module/edit/{{  module.moduleCode }}"  class="dropdown-item">
                              <i class="fa fa-edit btnColor"></i> Edit Module
                            </a>
                            <a (click)="delete(module)"   class="dropdown-item">
                              <i class="fa fa-trash btnColor"></i> Delete Module
                            </a>
                            
                          </div>
                          
                          
                    </td>
                    
                    
                  </tr>
                </tbody>
                <tfoot>
                
                </tfoot>
              </table>
              <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
            </div>
          </div>
        </div>
        <!-- /.box-body -->
        </div>
      
      </div>
    </section>
  </div>
