<app-header2></app-header2>
<div class="content-wrapper" id="mainContent">
    <section class="content">
      <div class="row" >
        <div class="col-md-12" id="courseForm">
          <div  >
            <div class="box-header ">
              <h3 style="text-align: center;" class="mt-5">Edit Course </h3>
            </div>
            <hr>
            <div class="alert alert-success alert-dismissible" [hidden]="!message">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <h4><i class="icon fa fa-check"></i> {{ message }}</h4>
              
            </div>
            <div class="alert alert-error alert-dismissible" [hidden]="!error">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <h4><i class="icon fa fa-check"></i> {{ error }}</h4>
              
            </div>
            <!-- (submit)="add({code: code.value,title: title.value,lectureHours: lectureHours.value,ECTS: ects.value,laboratoryHours: laboratoryHours.value,creditHours: creditHours.value,requisite:requisite.value,module: module.value })" -->
            <form class="form-horizontal" #loginForm=ngForm (submit)="onSubmit()"   >
              <div class="row"  >
                <div class="col-md-6" >
                  <div class="box ">
                    <div class="box-body">
                      <div class="form-group row">
                        <label for="code" class="col-sm-3 control-label">Course Code</label>
  
                        <div class="col-sm-7">
                          <input type="text" class="form-control" id="code" name="code" [(ngModel)]="form.code"  placeholder="Course Code">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="title" class="col-sm-3 control-label">Course Title</label>
  
                        <div class="col-sm-7">
                          <input type="text" class="form-control" id="title" name="title" [(ngModel)]="form.title"   placeholder="course title">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="lectureHours" class="col-sm-3 control-label">Lecture Hours</label>
  
                        <div class="col-sm-7">
                          <input type="number" class="form-control" id="lectureHours"  name="lectureHours" [(ngModel)]="form.lectureHours"  placeholder="Lecture Hours">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="laboratoryHours" class="col-sm-3 control-label">laboratoty Hours</label>
  
                        <div class="col-sm-7">
                          <input type="number" class="form-control" id="laboratoryHours"  name="laboratoryHours" [(ngModel)]="form.laboratoryHours"  placeholder="Laboratory Hours">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="creditHours" class="col-sm-3 control-label">creditHours</label>
        
                        <div class="col-sm-7">
                          <input type="number" class="form-control" id="creditHours"  name="creditHours" [(ngModel)]="form.creditHours"  placeholder="credit Hours">
                        </div>
                    </div>
                    </div>
                  </div>
                </div>
    <!-- second div -->
  
                <div class="col-md-6" >
                  <div class="box">
                    <div class="box-body">
                     
                    
                      <div class="form-group row">
                        <label for="ects" class="col-sm-3 control-label">ECTS</label>
  
                        <div class="col-sm-7">
                          <input type="number" class="form-control" id="ects"  name="ects" [(ngModel)]="form.ects"  placeholder="ects">
                        </div>
                      </div>
                    <!-- <div class="form-group row">
                      <label for="requisite" class="col-sm-3 control-label">Pre-Requisite</label>
  
                      <div class="col-sm-7">
                       
                        <select class="form-control" name="requisite" [(ngModel)]="form.requisite" id="requisite" >
                          <option value="none">None</option>
                          <option  *ngFor="let course of courses" value="{{course.Code}}">{{course.code}}</option>
                        </select>
  
                        
                      </div>
                    </div> -->
  
                    <div class="form-group row">
                      <label for="requisite" class="col-sm-3 control-label">Pre-Requisite</label>
  
                      <div class="col-sm-7">
                    
  
                        <ng-select [items]="courses" bindLabel="code" appendTo="body" multiple="true" name="requisite" [(ngModel)]="form.requisite" placeholder="select course"></ng-select>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="module" class="col-sm-3 control-label">Module</label>
  
                      <div class="col-sm-7">
                       
                        <ng-select [items]="modules" bindLabel="moduleTitle" appendTo="body" multiple="false" name="module" [(ngModel)]="form.module" placeholder="select module"></ng-select>
                      </div>
                    </div>
                   
                  </div> 
                  </div>
                </div>
              </div>
              <hr>
              <div class="box-footer">
               
                <button type="submit" class="btn btn-primary pull-right">Register</button>
              </div>
            </form>
            <!-- <button  class="btn btn-default pull-right">Cancel</button> -->
          </div>
       
        </div>
  
      </div>
    </section>
      
  </div>