@import "~@ng-select/ng-select/themes/material.theme.css";
#deleteBtn{
    margin-top:10px;
}
#offerBtn{
    margin-top:10px;
    margin-bottom: 10px;
}
#mainContent{
    /*margin-top:70px;*/
    /* background-color: aqua; */
    width:70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;


}
.pull-right{
    margin-left:10px;
}
#content{
    margin-left:auto;
    margin-right:auto;
}
#mainContent2{
    /*margin-top:70px;*/
    /* background-color: aqua; */
    width:80%;
    margin-left: auto;
    margin-right: auto;
    

}
#rw{
    /* float:right; */
    /* background-color: aqua; */
    width:96%;
    margin-bottom: 10px;
}
.dropdown-toggle::after {
    display:none;
  }
  
  .dropdown-menuu{
    width: fit-content;
    padding: 0%;
    margin: 2%;
    z-index: 100;
  }
  .dropdown-menuu>a{
    width: 3em;
    margin: 0.7em;
    margin-left: 1em;
  }
  .dropdown-menuu>button{
    width: 3em;
    margin: 0.7em;
    margin-left: 1em;
  }