<app-header2></app-header2>
<div class="box" id="offeringTable">
  <div class="box-header">
    <h3 class="box-title"></h3>
  </div>
    <!-- /.box-header -->
  <div class="box-body">
    <div class="dataTables_wrapper form-inline dt-bootstrap" id="example1_wrapper">
      <div class="row" id="rw">
        <div class="col-sm-4">
          <div class="dataTables_filter" id="example1_filter">
            <label>Search:
              <input class="form-control input-sm" aria-controls="example1" type="search" placeholder="">
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-bordered table-striped dataTable" id="example1" role="grid" aria-describedby="example1_info">
            <thead>
              <tr>
                  <th colspan="6" style="text-align: center;"><i>List of course offerings that are offered by this instructor</i></th>
              </tr>
              <tr role="row">
                <th tabindex="0" class="sorting_asc" aria-controls="example1" style="width: 250.88px;" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" rowspan="1" colspan="1">Course Id</th>
                <th tabindex="0" class="sorting_asc" aria-controls="example1" style="width: 250.88px;" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" rowspan="1" colspan="1">Course Title</th>
                <th tabindex="0" class="sorting" aria-controls="example1" style="width: 250.68px;" aria-label="Browser: activate to sort column ascending" rowspan="1" colspan="1">Semester</th>
                <th tabindex="0" class="sorting" aria-controls="example1" style="width: 250.08px;" aria-label="Platform(s): activate to sort column ascending" rowspan="1" colspan="1">Year</th>
                <th tabindex="0" class="sorting" aria-controls="example1" style="width: 250.08px;" aria-label="Platform(s): activate to sort column ascending" rowspan="1" colspan="1">Acadamic Year</th>
                <th tabindex="0" class="sorting" aria-controls="example1" style="width: 250.08px;" aria-label="Platform(s): activate to sort column ascending" rowspan="1" colspan="1">Action</th>
               
              </tr>
            </thead>
            <tbody>
            
              <tr class="odd" role="row" *ngFor="let course of courses">
                <td class="sorting_1">
                  <a (click)="edit(course)">
                    
                    <span *ngIf="course!==editCourse">{{course.course }}</span>
                    
                    <input *ngIf="course ===editCourse" [(ngModel)]="course.course" (blur)="updateCourse(course)" (keyup.enter)="updateCourse(course)" >
                  </a>

                </td>
                <td class="sorting_1">
                  <a (click)="edit(course)">
                    
                    <span *ngIf="course!==editCourse">{{course.title }}</span>
                    
                    <input *ngIf="course ===editCourse" [(ngModel)]="course.course" (blur)="updateCourse(course)" (keyup.enter)="updateCourse(course)" >
                  </a>

                </td>
                <td class="sorting_1">
                  <a (click)="edit(course)">
                    
                    <span *ngIf="course!==editCourse">{{course.semester }}</span>
                    
                    <input *ngIf="course ===editCourse" [(ngModel)]="course.semester" (blur)="updateCourse(course)" (keyup.enter)="updateCourse(course)" >
                  </a>

                </td>
                <td class="sorting_1">
                  <a (click)="edit(course)">
                    
                    <span *ngIf="course!==editCourse">{{course.year }}</span>
                    
                    <input *ngIf="course ===editCourse" [(ngModel)]="course.year" (blur)="updateCourse(course)" (keyup.enter)="updateCourse(course)" >
                  </a>

                </td>
                <td class="sorting_1">
                  <a (click)="edit(course)">
                    
                    <span *ngIf="course!==editCourse">{{course.AcadamicYear }}</span>
                    
                    <input *ngIf="course ===editCourse" [(ngModel)]="course.year" (blur)="updateCourse(course)" (keyup.enter)="updateCourse(course)" >
                  </a>

                </td>
                <td>
                  <!-- <button class="btn btn-primary2" (click)="toggleFloat(i)">Actions</button>
                  <div [hidden]="!expanded[i]">
                      
                      
                      <button id="instructorBtn" class="btn btn-danger">Delete </button>
                       <a routerLink="/instructorDetail/{{ instructor.id }}" id="instructorBtn2" class="btn btn-primary2">instructor</a>
                  </div> -->
                  <button id="btnGroupDrop1" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    ⋮⋮⋮
                  </button>
             
                  <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <a (click)="delete(course)"  class="dropdown-item">
                      <i class="fa fa-trash btnColor"></i> Delete Offering
                    </a>
                    
                  </div>
                  
                </td>
                <!-- <td>
                  <button class="btn btn-primary2" (click)="listButtons()">Actions</button>
                  <div [hidden]="!listButton">
                    <button class="btn btn-danger" (click)="delete(staff)"  id="deleteBtn">
                        Delete
                      </button>
                      
                      <a  routerLink="/assignInstructor/{{ course.id }}" id="offerBtn" class="btn btn-primary2">Assign Instructor </a>
                      <a  routerLink="/courseOfferingDetail/{{ course.id }}" id="offerBtn" class="btn btn-primary2">Course Offeing Detail </a>
                  </div>
                   
                </td> -->
                
                
              </tr>
            </tbody>
            <tfoot>
            <!-- <tr><th rowspan="1" colspan="1">CollegeName</th><th rowspan="1" colspan="1">Campus</th><th rowspan="1" colspan="1">Platform(s)</th><th rowspan="1" colspan="1">Action</th></tr> -->
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  <!-- /.box-body -->
  </div>

</div>