<app-header2></app-header2>
<div class="box-body" id="tableBody">
    <div class="dataTables_wrapper form-inline dt-bootstrap" id="example1_wrapper"><div class="row" id="rw">
     <!--  <div class="col-sm-6"><div class="dataTables_length" id="example1_length"><label>Show <select name="example1_length" class="form-control input-sm" aria-controls="example1"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div></div> -->
    <div class="col-sm-4"><div class="dataTables_filter" id="example1_filter"><label><input class="form-control input-sm" aria-controls="example1" type="search" placeholder="filiter data" [(ngModel)]="term"></label></div></div>
    <div class="col-sm-4"><div class="dataTables_filter" id="example1_filter"></div></div>
  <!-- <div class="col-sm-4"><div  ><button class="btn btn-primary float-sm-right " id="addBtn3">ADD</button></div></div> -->
   </div>
   <div class="row table-responsive"><div class="col-sm-12">
      <table class="table table-bordered table-striped dataTable" id="example1" role="grid" aria-describedby="example1_info">
      <thead>
      <tr role="row">
        <th tabindex="0" class="sorting_asc" aria-controls="example1" style="width: 191.88px;" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" rowspan="1" colspan="1">First Name</th>
        <th tabindex="0" class="sorting" aria-controls="example1" style="width: 242.68px;" aria-label="Browser: activate to sort column ascending" rowspan="1" colspan="1">Middle Name</th>
        <th tabindex="0" class="sorting" aria-controls="example1" style="width: 223.08px;" aria-label="Platform(s): activate to sort column ascending" rowspan="1" colspan="1">Last Name</th>
        <th tabindex="0" class="sorting_asc" aria-controls="example1" style="width: 191.88px;" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" rowspan="1" colspan="1">Department</th>
        <th tabindex="0" class="sorting" aria-controls="example1" style="width: 242.68px;" aria-label="Browser: activate to sort column ascending" rowspan="1" colspan="1">Phone</th>
        <th tabindex="0" class="sorting" aria-controls="example1" style="width: 223.08px;" aria-label="Platform(s): activate to sort column ascending" rowspan="1" colspan="1">Email</th>
       
      </tr>
      </thead>
      <tbody>
     
      <tr class="odd" role="row" *ngFor="let instructor of instructors | filter:term | paginate: { 
        itemsPerPage: pageSize,
        currentPage: page,
        totalItems: total };let i=index">
        <td class="sorting_1">
          <a (click)="edit(instructor)">
            
            <span *ngIf="instructor!==editinstructor">{{instructor.firstName }}</span>
            
            <input *ngIf="instructor ===editinstructor" [(ngModel)]="instructor.firstName" (blur)="update()" (keyup.enter)="update()" >
          </a>

        </td>
        <td class="sorting_1">
          <a (click)="edit(instructor)">
            
            <span *ngIf="instructor!==editinstructor">{{instructor.middleName }}</span>
            
            <input *ngIf="instructor ===editinstructor" [(ngModel)]="instructor.middleName" (blur)="update()" (keyup.enter)="update()" >
          </a>

        </td>
        <td class="sorting_1">
          <a (click)="edit(instructor)">
            
            <span *ngIf="instructor!==editinstructor">{{instructor.lastName }}</span>
            
            <input *ngIf="instructor ===editinstructor" [(ngModel)]="instructor.lastName" (blur)="update()" (keyup.enter)="update()" >
          </a>

        </td>
       
        <td class="sorting_1">
          <a (click)="edit(instructor)">
            
            <span *ngIf="instructor!==editinstructor">{{instructor.department }}</span>
            
            <input *ngIf="instructor ===editinstructor" [(ngModel)]="instructor.department" (blur)="update()" (keyup.enter)="update()" >
          </a>

        </td>
        <td class="sorting_1">
          <a (click)="edit(instructor)">
            
            <span *ngIf="instructor!==editinstructor">{{instructor.primaryPhoneNumber }}</span>
            
            <input *ngIf="instructor ===editinstructor" [(ngModel)]="instructor.phone" (blur)="update()" (keyup.enter)="update()" >
          </a>

        </td>
        <td class="sorting_1">
          <a (click)="edit(instructor)">
            
            <span *ngIf="instructor!==editinstructor">{{instructor.email}}</span>
            
            <input *ngIf="instructor ===editinstructor" [(ngModel)]="instructor.email" (blur)="update()" (keyup.enter)="update()" >
          </a>

        </td>
        
        <!-- <td class="sorting_1">{{college.collegeName }}</td>
        <td>{{ college.campus }}</td> -->
        <td>
          <!-- <button class="btn btn-primary2" (click)="toggleFloat(i)">Actions</button>
          <div [hidden]="!expanded[i]">
              
              
              <button id="instructorBtn" class="btn btn-danger">Delete </button>
               <a routerLink="/instructorDetail/{{ instructor.id }}" id="instructorBtn2" class="btn btn-primary2">instructor</a>
          </div> -->
          <button id="btnGroupDrop1" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            ⋮⋮⋮
          </button>
     
          <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <a href="/instructorDetail/{{ instructor.id }}"  class="dropdown-item">
              <i class="fa fa-info-circle btnColor"></i> Instructor Detail
            </a>
            
          </div>
          
        </td>
        
        
      </tr>
    </tbody>
      <tfoot>
      <!-- <tr><th rowspan="1" colspan="1">CollegeName</th><th rowspan="1" colspan="1">Campus</th><th rowspan="1" colspan="1">Platform(s)</th><th rowspan="1" colspan="1">Action</th></tr> -->
      </tfoot>
    </table>
    <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
  </div></div>
  </div>
  <!-- /.box-body -->
</div>
