<app-header2></app-header2>
<div class="container" >
    <div class="box-header ">
        <h3 style="text-align: center;" class="mt-5 mb-3">All courses You assigned to </h3>
    </div>
    <div class="row table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                <th>Number</th>
                <th>Course Code</th>
                <th>Course Title</th>
                <th>Course Module</th>
                <th>Course Credit Hours</th>
                <th>Course ECTS</th>
                </tr>
            </thead>
            <tbody *ngIf="coursesLength > 0">
            
                <tr *ngFor="let course of courses;let i= index">
                <td>{{i+1}}</td>
                <td>{{course.code}}</td>
                <td>{{course.title}}</td>
                <td>{{course.module}}</td>
                <td>{{course.creditHours}}</td>
                <td>{{course.ECTS}}</td>
                <td><a routerLink="/course/{{course.offering}}/students" class="btn btn-primary"><i class="fa fa-list" aria-hidden="true"></i> Students</a></td>
                </tr>
            
            </tbody>
            
            <tbody  *ngIf="coursesLength == 0">
                <tr> 
                    <td colspan="7" style="text-align: center;background-color: lightgray;">No Data Availlable</td>
                </tr>
            </tbody>
        </table>
    </div>
        
  
  </div>

  