p{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h3{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#detailCon{
	width:80%;
	margin-right: auto;
	margin-left: auto;
}
#mainContent{
    /*margin-top:70px;*/
    /* background-color: aqua; */
    width:80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;


}
.content{
    margin-left: auto;
    margin-right: auto;
}